[2019-01-09 09:17] bartlomieju opened #1 "Frame reader/writer"
Add `FrameReader` and `FrameWriter` for communication with Postgres backend.

[2019-01-09 09:20] bartlomieju opened #2 "Properly apply default connection parameters"
Right now only simple defaults are applied. Config should check env variables as well for configuration.

Additionally parsing DSN would be great, so `Client`'s signature might look like this:

[code]

[2019-01-09 09:21] bartlomieju opened #3 "Parametrized query"

[2019-01-09 09:24] bartlomieju opened #4 "Authentication handling"
Both cleartext password and MD5 should be handled:
https://github.com/bartlomieju/deno-postgres/blob/master/connection.ts#L95:L112

[2019-01-09 09:25] bartlomieju opened #5 "Create enum with Postgres messages defined"

[2019-01-14 21:16] bartlomieju opened #6 "Setup tests with travis"

[2019-01-15 17:12] #3 closed

[2019-01-17 17:33] bartlomieju opened #8 "Handle multi-statement queries"
We need to be able to handle queries like this:
[code]

I'm not sure how to nicely handle results, currently `QueryResult` has `rows` property that stores data returned from query. One idea is to subclass `QueryResult` and create `MultiQueryResult` that has slight different API and leave it up to user to handle that properly.

Comments welcome

[2019-01-17 18:14] bartlomieju opened #9 "Non-string arguments in parametrized query throw error"
[code]

results in:
[code]

[2019-01-19 14:40] avinashdvv commented on #4
@bartlomieju can i take this issue?

[2019-01-19 16:17] bartlomieju commented on #9
Fixed in `f020b52fbdc0efe1c8529a6db65d04f31295bf24`, still requires tests

[2019-01-19 17:00] #1 closed

[2019-01-21 18:36] #5 closed

[2019-01-21 18:36] #6 closed

[2019-01-21 18:37] bartlomieju opened #10 "Improve testing infra"
Waiting for `tearDown` and `setUp` from denoland/deno_std#128

Then we need to prepare methods to quickly setup new tables

[2019-01-21 18:42] bartlomieju opened #11 "Support DSN style connection configuration"
`Client`'s constructor should support string argument with DSN configuration.

[code]

[2019-01-21 18:43] #2 closed

[2019-01-21 18:46] bartlomieju opened #12 "Support reading connection parameters from env"
When parsing connection parameters, if value is not supplied it should be read from environmental variable.

[2019-01-21 18:50] bartlomieju opened #13 "Encode query arguments"
It's already implemented in `Query.prepareArgs` but it's very elegantly implemented in [pq](https://github.com/lib/pq/blob/master/encode.go), so I'd rather move `prepareArg` to `encode.ts`. Tests are needed.

Also, for future, `QueryConfig` should take `endoder: (any) => string` argument, this will allow users to provide custom encoding function.

[2019-01-21 18:55] bartlomieju opened #14 "Decode data row"
Following up on [pq's encode](https://github.com/lib/pq/blob/master/encode.go) method, `decode` is needed as well, that will convert Postgres encoded data to native TypeScript types. Currently it's a TODO in `QueryResult._parseDataRow`, but it should be moved to `Connection`.

As in #13, for future, `QueryConfig` should take `decoder` argument that is user provided function for custom data types.

[2019-01-21 18:57] bartlomieju opened #15 "Support SSL"

[2019-01-22 08:47] bartlomieju commented on #15
This has to wait, because Deno has no TLS support right now.

[2019-01-22 10:23] bartlomieju opened #16 "Replace copyBytes with method from deno_std"
Turns out there was an [edge case in `copyBytes` that was copied from deno_std](https://github.com/denoland/deno_std/pull/146), go back to importing this function from standard lib.

[2019-01-23 09:49] bartlomieju commented on #4
@avinashdvv are you working on this?

[2019-01-23 13:47] avinashdvv commented on #4
yes, I started working on this. In the worst case scenario, I will try to complete this by Sunday.

[2019-01-23 15:19] bartlomieju commented on #15
Ref denoland/deno#1568

[2019-01-23 18:22] #16 closed

[2019-01-25 16:11] #11 closed

[2019-01-25 16:15] #12 closed

[2019-02-10 19:00] bartlomieju opened #21 "Add format script and CI check"
This repo should have `format.ts` file to format all files in repo as well as CI check that fails if files are unformatted. [deno_std](https://github.com/denoland/deno_std) has such check.

[2019-02-10 19:35] #13 closed

[2019-02-10 19:36] bartlomieju commented on #9
Closed in #19

[2019-02-10 19:36] #9 closed

[2019-02-10 20:46] bartlomieju commented on #4
Cleartext passwords are already handled, MD5 is still pending. I'll look into into next week.

[2019-02-10 20:46] #14 closed

[2019-02-12 12:15] bartlomieju opened #23 "Bump deno_std to 0.2.8"

[2019-02-12 12:52] #23 closed

[2019-02-12 16:55] bartlomieju commented on #8
After giving it some thought I'm leaning towards prohibiting multi-statements queries in `query` method. Instead there will be separate method for such cases:
[code]
Still `multiStatementQuery` is not the best name. `queryMulti`?

[2019-02-19 05:13] hayd opened #25 "Client.connect should return a Connection rather than set .connection"
This will allow connection pools as you can do something like:
[code]

and then funnel queries to this pool.

[2019-02-20 11:14] bartlomieju opened #26 "Don't require --allow-env by default"
I came to conclusion that `Deno.env` should be read lazily only in case connection parameter is missing. It will allow to get rid of required `--allow-env` permission.

[2019-02-22 16:30] #21 closed

[2019-02-23 09:57] bartlomieju opened #32 "Docs and API reference"
Whole documentation is just a README file, better documentation should be provided as documentation page.

Public API should be annotated with JSDoc, so auto generated API reference can be obtained.

[2019-02-23 09:59] bartlomieju opened #33 "Handle named queries"
`QueryConfig.name` is meant to prepare named queries however this parameter is now ignored. Eventually we need to support it, but it's lower priority now.

[2019-02-23 10:00] bartlomieju commented on #10
@hayd, do you know the status with this issue?

[2019-02-23 10:09] hayd commented on #10
I think Ry is a no. The solution is to rewrite in the style of std's fs/walk_test.ts

[2019-02-24 20:33] #25 closed

[2019-02-25 23:08] hayd commented on #10
I'll improve this after #27.

[2019-02-25 23:14] hayd commented on #8
What about `client.transaction` ?

We could conveniently wrap in a begin/commit/rollback try/catch block.

[2019-02-26 09:37] bartlomieju commented on #8
That's a separate issue, I just want to prevent using multi-statement queries in `query` because I don't want to give it `QueryResult | QueryResult[]` return type. 95% of queries will be single queries and there's really no need for devs to check every time if they got array or single result.

[2019-02-26 19:23] hayd commented on #8
Agree it should be `QueryResult`, I don't think this even needs a helper function (they can use an explicit for loop or map)...

[2019-03-16 14:00] bartlomieju opened #35 "Query arguments type safety"
We don't know the type of arguments that are passed to query and right now it is reflected using `any[]` type.

[code]

This should be replaced with `Array<unknown>`

[2019-03-23 12:59] #10 closed

[2019-03-23 15:45] #35 closed

[2019-03-23 16:06] hayd commented on #33
I was trying to remember if this was the issue I was facing when running examples from node-postgres website. I think, separate issue, their examples should be copied as tests, that way we can be confident the API is consistent.

[2019-03-23 18:02] bartlomieju commented on #33
Good idea

[2019-04-19 05:32] ddibiase opened #39 "LISTEN/NOTIFY support"
I’m wondering if this library supports listen/notify or if it needs to be adapted slightly to. Any suggestions on the best approach on getting it working? I’ve used pg-notify in node and may need to port it for deno use if nothing exists yet.

[2019-04-19 08:56] bartlomieju commented on #39
Hey @ddibiase, there is not LISTEN/NOTIFY support yet, but it's on my roadmap. I expect it should land during next month or two. Feel free to contribute!

[2019-04-19 16:02] ddibiase commented on #39
I'd be happy to contribute as I need to solve this for my side project. Would you mind giving some direction on how you'd like it implemented? I was considering porting `andywer/pg-listen` for Node. It's TS and very well written with a lot of nice features.

It has an dependencies on EventEmitter, TypedEventEmitter, pg and pg-format that could be replaced with simple alternatives. `pg-format` coul

[2019-04-21 06:13] hayd commented on #39
@ddibiase yes please!

[2019-04-21 10:01] bartlomieju commented on #39
I made one pass reading `pg-listen` - I'll keep you posted today, this is something we definitely want to support. Functionality itself is pretty straight-forward, but we need to improve testing for this project, so it'd be good if there was a thorough test suite.

[2019-04-27 11:20] bartlomieju commented on #32
Documentation website is going at [deno-postgres.com](http://deno-postgres.com).

Let's get to work on documentation itself.

[2019-05-03 11:47] andre1sk opened #43 "JSONB support in decode"
JSONB columns are not supported by decode

[2019-05-03 11:55] bartlomieju commented on #43
Thanks for report, I'll add a milestone for it. Feel free to raise PR if you want to contribute

[2019-05-07 20:06] #43 closed

[2019-05-07 20:40] bartlomieju commented on #39
Sorry for the delay, I had to sit on this thing for a while. I hope to post a PR this week with prototype for this functionality.

[2019-05-11 16:05] bartlomieju opened #49 "Refactor Pool"
To land #45 I had to disable `Pool` tests, rendering it unusable. Refactor has to be done to `Pool`, some initial thoughts:
- rename `PooledClient` to `PoolClient`
- `Pool` can be constructed from DSN
- pool connection can be created lazily
- size is optional default to 10
- add `Pool.transaction` helper that wraps `Pool.query` in transaction

[2019-05-11 16:05] #26 closed

[2019-05-12 12:32] andre1sk opened #50 "Add support for Network Address Types"
inet - IPv4 and IPv6 hosts and networks
cidr - IPv4 and IPv6 networks
macaddr - MAC addresses

[2019-05-12 15:20] runnerSnail commented on #49
Excuse me, can I use ` PooledClient `?

[2019-05-12 15:26] bartlomieju commented on #49
@runnerSnail as noted above, if you use `master` then `PooledClient` is broken. Although if you're running latest release then you can use `PooledClient`, but don't use it to create connection, instead do this:
[code]

[2019-05-12 15:28] runnerSnail commented on #49
okey,thanks!

[2019-05-15 14:21] runnerSnail opened #52 "no export"
https://github.com/bartlomieju/deno-postgres/blob/c6a53b5cead678b9955a7e08e4d478e19091f83e/mod.ts#L3

[2019-05-19 18:23] #52 closed

[2019-05-21 14:25] runnerSnail commented on #50
Which version supports Network Address？

[2019-05-21 14:30] andre1sk commented on #50
@runnerSnail  using current format since 8.3 so since 2008

[2019-05-24 09:11] runnerSnail opened #54 "Unexpected syntax error in query"
[code]

error message

`PostgresError: syntax error at or near " offset  0`

[2019-05-24 09:24] bartlomieju commented on #54
![](https://files.gitter.im/deno-postgres/community/BF3P/image.png)

[2019-05-27 06:00] runnerSnail commented on #54
Sorry, what's the problem？😊

[2019-05-27 09:08] runnerSnail commented on #54
## Adjust my SQL statements
[code]

## postico is wrong
![deno run](https://cdn.nlark.com/yuque/0/2019/jpeg/303359/1558947861735-915fba49-d082-4cd5-b3d4-4af16bbe0751.jpeg)
## deno run right
![postico run ](https://cdn.nlark.com/yuque/0/2019/jpeg/303359/1558947940473-5ca626b2-5c65-485b-a68d-7f3238636d42.jpeg)

[2019-05-27 09:34] bartlomieju commented on #54
@runnerSnail I haven't had time to check this issue yet.

I believe you have extra whitespaces in your queries, can you check if removing them solves the problem?

[2019-05-28 06:38] runnerSnail commented on #54
yes,one more space, and it's strict。
but hopefully,deno-postgres can handle whitespace。
thx～ deno-postgres helped me a lot

[2019-06-14 12:26] #50 closed

[2019-06-16 08:24] runnerSnail opened #56 "Uncaught Error: MD5 password auth not implemented."
![image](https://user-images.githubusercontent.com/40654631/59561457-23decc80-9053-11e9-8c43-1589f418e32e.png)
![image](https://user-images.githubusercontent.com/40654631/59561467-47a21280-9053-11e9-9634-b6975513a888.png)

[2019-06-16 10:55] bartlomieju commented on #56
Duplicate of #4

[2019-06-16 10:55] #56 closed

[2019-06-16 11:32] bartlomieju commented on #4
Done in 093b59d890e36a27a4c98c6afcbbd9dde639c723

[2019-06-16 11:32] #4 closed

[2019-06-16 11:38] bartlomieju commented on #56
FYI md5 password is available on `master` and via `v0.2.0` (https://deno.land/x/postgres@v0.2.0/mod.ts) tag.

[2019-06-16 11:47] bartlomieju commented on #54
Glad to hear that - I think handling extra whitespace is currently out-of-scope, but maybe I'll revisit later. Closing this issue for now.

[2019-06-16 11:47] #54 closed

[2019-06-16 11:52] bartlomieju opened #58 "Add connectionTimeout parameter"

[2019-06-18 02:55] manyuanrong opened #59 "Potential risk of connection pool depletion"
### This code has the potential to run out of connection pools
https://github.com/bartlomieju/deno-postgres/blob/efc62eb122f26c393c06f99935c1a2d6180688d0/pool.ts#L62-L68

[2019-06-28 11:12] andre1sk opened #61 "Support for Range Types"
One of really nice features of PostgreSQL is range types:
tsrange — Range of timestamp without time zone
tstzrange — Range of timestamp with time zone
daterange — Range of date
int4range — Range of integer
int8range — Range of bigint
numrange — Range of numeric
https://www.postgresql.org/docs/current/rangetypes.html
would be nice to add support for them. I have time to work on this but it prob. re

[2019-07-07 17:58] #59 closed

[2019-07-07 17:58] bartlomieju commented on #49
@mhvsa will you look at it?

[2019-08-17 11:51] bartlomieju commented on #61
@andre1sk any update on this issue?

[2019-09-17 09:10] bartlomieju opened #67 "Move CI to Github Actions"
With https://github.com/denolib/setup-deno we'll be able to easily setup CI using Github Actions.

I'd prefer to move there over Travis, that should allow to spawn multiple Postgres instances for testing.

[2019-09-17 11:08] bartlomieju opened #68 "Update format script"
With [recent changes](https://github.com/denoland/deno/pull/2928) to `deno fmt` we should update `format.ts` script to leverage faster formatting.

[2019-09-17 11:09] bartlomieju opened #69 "Add contributing guidelines"
This document should contain information about strict TS mode as well as formatting.

[2019-10-01 12:02] #68 closed

[2019-10-01 12:15] #69 closed

[2019-12-13 17:17] rokoucha opened #76 "'name' column type parsing method is not implemented"
I got uncaught error when execute query
[code]
and the query is
[code]

According to documents, PostgreSQL has 'name' special character types and that type is internal type for object names.
https://www.postgresql.org/docs/current/datatype-character.html#DATATYPE-CHARACTER-SPECIAL-TABLE

However in deno-postgres, 'name' column type is impleted in here
https://github.com/buildondata/deno-postgres/b

[2019-12-13 17:39] bartlomieju commented on #76
@rokoucha thanks for opening the issue.

Seems like a quick fix, I guess we can add `cast Oid.name` to decoder.

Would you mind opening a PR for that?

Also, just FYI, this lib is not really stable, nor anywhere near complete, so feel free to open issues/PRs if you find anything missing. I'm also very curious what you're building

[2019-12-13 17:58] rokoucha commented on #76
@bartlomieju OK, I will open PR ASAP.
Would I fix test? Apparently there is no test to decoding strings.

[2019-12-13 17:59] bartlomieju commented on #76
Well... better tests are still a TODO, so I'm ok with a PR without a test for now

[2019-12-13 18:32] #76 closed

[2019-12-13 18:37] bartlomieju commented on #76
@rokoucha https://github.com/buildondata/deno-postgres/releases/tag/v0.3.5 happy coding!

[2020-01-17 09:51] killbond007 commented on #76
Hello @bartlomieju  , I have the same error when execute query. In my table users has column type  uuid.

[2020-01-17 09:53] bartlomieju commented on #76
@killbond007 feel free to open a PR with new type

[2020-01-26 09:43] bartlomieju opened #82 "Project status"
I just wanted to leave a short information for anyone interested in this project.

It seems to be half dead, but that's not the case. A huge chunk of my time is now dedicated to the work in main Deno repo at the moment.

I still intend to put more work into this module but that will happen after Deno 1.0 is released.

[2020-02-12 22:33] nonnontrivial commented on #15
@bartlomieju now that the relevant Deno issue has closed, is there another blocker for this feature?

[2020-02-12 22:37] bartlomieju commented on #15
@nonnontrivial no, not really. As described in #82 I'm spending most of my time on Deno, so if you feel like implementing it - go ahead! Otherwise, I'll tend to it after Deno 1.0 is released

[2020-02-14 00:56] nonnontrivial commented on #15
@bartlomieju should the API follow https://node-postgres.com/features/ssl ?

[2020-02-14 08:10] bartlomieju commented on #15
@nonnontrivial Deno `connectTLS` API has completely different signature: https://deno.land/typedoc/interfaces/deno.connecttlsoptions.html
The `certFile` argument takes a path to `pem` file which then is used to load all certificates contained in that file. More info: https://docs.rs/rustls/0.16.0/rustls/struct.RootCertStore.html#method.add_pem_file
Final API shape is not that important for now, we

[2020-02-14 13:48] nonnontrivial commented on #15
@bartlomieju okay, excellent. Thank you for the links. I anticipate having time this weekend to get a draft PR up.

[2020-02-14 15:58] kt3k opened #84 "How about separating test_deps.ts from deps.ts"
How about separating test dependecies from runtime dependencies like [oak server does](https://github.com/oakserver/oak/blob/master/test_deps.ts)? That reduces the amount of the downloads for the users of this library.

[2020-02-14 16:03] bartlomieju commented on #84
@kt3k yeah, great idea :+1:

[2020-02-14 16:25] kt3k commented on #84
@bartlomieju Thank you for accepting the suggestion! I'll send a PR!

[2020-02-14 16:27] #84 closed

[2020-02-16 21:45] patrickdevivo opened #86 "Add TODOs Badge"
Hi there! I wanted to propose adding the following badge to the README to indicate how many `// TODO` comments are in this codebase:

[![TODOs](https://img.shields.io/endpoint?url=https://api.tickgit.com/badge?repo=github.com/buildondata/deno-postgres)](https://www.tickgit.com/browse?repo=github.com/buildondata/deno-postgres)

The badge links to `tickgit.com` which is a free service that indexes a

[2020-03-02 17:54] uki00a opened #88 "Support for oid types"
## What happened

When querying OID values, I run into a following error:

[code]

## How to reproduce

mod.ts:

[code]

[code]

The post table is as follows:

[code]

[2020-03-02 18:38] #88 closed

[2020-03-07 11:02] malthe commented on #82
FYI over in TS-land I wrote and maintain a relatively complete pg-driver which can probably be made deno-compatible without too much difficulty: https://github.com/malthe/ts-postgres.

[2020-03-07 14:03] uki00a opened #91 "PostgreSQL's bigint type should be treated as String rather than Number"
## Description

JavaScript's Number cannot represent PostgreSQL's bigint type accurately as follows:

||MIN|MAX|
|:---:|:---:|:---:|
|JavaScript's Number|`-9,007,199,254,740,991`|`9,007,199,254,740,991`|
|PostgreSQL's bigint|`-9,223,372,036,854,775,808`|`9,223,372,036,854,775,807`|

## Additional Information

[node-postgres](https://node-postgres.com/) treats bigint as String.

[code]

The output

[2020-03-07 14:13] #91 closed

[2020-03-08 12:16] uki00a opened #93 "Support for numeric type"
## Description

When querying a table that has a numeric column, the following error occurs:

[code]

[2020-03-08 12:33] #93 closed

[2020-03-08 14:51] uki00a opened #95 "Support for getting the number of affected rows and executed command type"
[node-postgres's Result class](https://node-postgres.com/api/result) has two properties as follows:

- `.rowCount`

- `.command`

I think these properties are useful for implementing some features, such as optimistic locking.

[2020-03-11 19:25] jakajancar opened #97 "Uncaught Error: Don't know how to parse column type: 2278"
When doing `SELECT pg_advisory_xact_lock(...)`

[2020-03-12 13:51] #97 closed

[2020-03-12 20:13] jakajancar opened #99 "Don't know how to parse column type: 1042"
When selecting from `char(n)` column.

[2020-03-18 00:30] jakajancar opened #100 "rowsOfObjects() b0rked"
`rowsOfObjects()` is completely broken:

[code]

returns

[code]

That's because:

[code]

index of row is being used to choose the column. Should be:
[code]

and the row index is completely unnecessary.

[2020-03-18 00:47] jakajancar commented on #100
Actually the above is wrong too, `column.index` does not match index of column object in the `rowDescription.columns` array, not sure what that is.

[2020-03-18 01:04] jakajancar commented on #99
And sometimes I get
[code]
if I try to select it without casting to test. Hmm.

[2020-03-21 07:12] hayd commented on #49
What about `ClientPool`? I think that reads a little better.
Although in node-postgres it's just called [Pool](https://node-postgres.com/features/pooling).

 I will take a look at this.

[2020-03-24 18:28] jakajancar commented on #100
@uki00a @bartlomieju Thoughts?

[2020-03-24 19:41] jakajancar opened #102 "How about some QueryResult convenience functions?"
Let's say:

[code]

What do you think?

[2020-03-25 15:29] #100 closed

[2020-03-30 02:08] Soremwar opened #103 "Typo on Error definition prevents error validation"
While using code like this:

[code]

However a typo on line 17 on PostgresError definition causes TypeScript to complain on the missing property. It's a quick fix I think.

[code]

Edit: Spotted another typo on this interface

[code]

[2020-03-30 08:16] #103 closed

[2020-04-05 02:46] uki00a opened #105 "Compilation fails on Deno v0.39.0"
## Environment

- deno-postgres v0.3.8
- deno v0.39.0

## Logs

[code]

[2020-04-05 09:23] #105 closed

[2020-04-19 03:08] mattbishop commented on #49
Ideally this lib would look like node-postgres as much as possible to aid transitions.

[2020-04-19 03:09] mattbishop opened #107 "Add support for streaming result sets"
One thing I love about node-postgres is it's streaming result sets. I have applications that select thousands of rows and I don't want them all in a single result array. It's important to have a stream-like option that uses Postgres cursors to work through result sets.

[2020-04-20 10:28] halvardssm commented on #8
Hi! I am using this driver for a migration tool that i am creating, and I coud use the posibility of a multi statement query. What is the status of this issue? 🙂

[2020-04-20 10:37] bartlomieju commented on #8
@halvardssm I don't plan to work on it in foreseeable future; feel free to open a PR if you want

[2020-04-20 12:33] halvardssm commented on #8
@bartlomieju Ok, I will take a look 💪 could you point me to the file I should add this in?

[2020-04-20 13:06] bartlomieju commented on #8
@halvardssm that should be `query.ts`

[2020-04-20 17:37] halvardssm commented on #8
@bartlomieju So I am working on this right now and I was hoping to discuss with you if it is any purpose in supporting all of these types (`string | string[] | QueryConfig | QueryConfig[]`) on the input? I personally think the approach for this would be to use the interface `QueryConfig` as the blueprint for the method arguments, e.g.

[code]

This way we don't have to do the check for the text in

[2020-04-21 11:05] bartlomieju commented on #8
@halvardssm I'm open to change of interface, maybe open a PR so we can discuss on living organism?

[2020-04-21 12:21] halvardssm commented on #8
@bartlomieju I made a pr now, its only a wip but it should show what i mean

[2020-04-23 12:39] halvardssm commented on #67
This was fixed in #109

[2020-04-25 11:13] #67 closed

[2020-04-27 10:44] #8 closed

[2020-05-01 15:36] lenkan opened #113 "IConnectionParams port and host type and naming convention"
IConnectionParams should be modelled like:

[code]

Rather than the current

[code]

I understand this is probably inherited  from `node-postgres` but there is also an opportunity to align simple things like this in Deno user land from the start. I believe this aligns better with the convention currently set by `Deno.listen` API. In addition, this is what is used in https://github.com/keroxp/deno-

[2020-05-01 16:35] bartlomieju commented on #113
Yeah, I'm fine with that change 👍

[2020-05-03 20:09] jakajancar commented on #39
I tried to give this a go, but it seems a bit hard given the architecture of deno-postgres: it only does `readMessage()` when expecting something, and from a bunch of different places.

This is in contrast to e.g. `ts-postgres` which has a single central message reader that's always open to accept messages.

Not sure how to adapt it to the notifications. Tips welcome.

[2020-05-04 11:17] bartlomieju commented on #39
@jakajancar to be honest I haven't really put much thought about this issue since it was opened. It is very likely that supporting `listen/notify` will require to rewrite significant parts of this lib.

That said, I'm open to such changes if we could discuss them first.

[2020-05-05 11:10] #113 closed

[2020-05-05 21:56] slim-hmidi commented on #82
@bartlomieju what is the roadmap of the module? are there any intention to develop functions for the majority of postgresql instructions and commands. Because creating a big query using `query()` will not an easy thing when the query is complex and contains many conditions.

[2020-05-08 00:55] kluzzebass commented on #82
@slim-hmidi It sounds like you're looking for a query builder or an ORM, which is probably not what this module is supposed to be.

[2020-05-08 01:51] hayd commented on #82
e.g https://github.com/manyuanrong/dso/issues/2

[2020-05-08 11:02] slim-hmidi commented on #82
@kluzzebass I don't think if in a big project with a big query contains a lot of conditions a developer will write a text query then add so many args later.
Personally, I find it not useful with big complex apps.
I don't know what's the intention of this module.

[2020-05-08 12:28] bartlomieju commented on #82
@slim-hmidi this repository contains **driver** for PostgreSQL - ie. low level primitives that allow you to connect and talk to the DB. Drivers are necessary to create ORMs or other higher-level libraries like query builders (think Knex). I don't intend to add much "sugar" to the code base, it should be left to user libraries like dso that @hayd pointed out.

[2020-05-09 17:19] kluzzebass opened #117 "Don't know how to parse column type: 28"
[code]

28 is the transaction identifier (xid), which is a "32-bit quantity", according to the docs, so I think it can be safely decoded as an int4. The same goes for 29, the command identifier (cid).

Obviously, this is related to #99.

[2020-05-11 21:45] qimingweng commented on #99
There should probably be a system to add parsing for unknown column types like in node-postgres.

CITEXT (oid 20180) is also unknown, and throwing an error of this level means this library will be useless for any serious postgres distribution.

[2020-05-14 13:39] bartlomieju commented on #117
@kluzzebass I'm open to expanding the list for as many values as possible

[2020-05-14 13:40] bartlomieju commented on #99
@jakajancar @qimingweng sorry for being silent. I'm open to expanding the list of supported types as well as adding way to parse unknown columns.

[2020-05-14 17:14] qimingweng commented on #82
I wonder if it makes sense to merge resources with something like: https://github.com/porsager/postgres

It’s a pure JS project with no dependencies, so there would be some nodeJS APIs that need altered

I think it’s important to establish a best practice early, and perhaps it’s an opportunity to overtake pg, which is too big/standard and would need time to change.

[2020-05-14 18:44] qimingweng commented on #99
@bartlomieju all good– Deno 1.0 is exciting stuff. Will be interesting to see where the community goes from here.

[2020-05-15 08:42] kluzzebass commented on #117
@bartlomieju I see what you did there. :)I'll see what I can do about it.

[2020-05-15 20:38] sarthaksavvy opened #120 "Unknown response for startup"
Getting This Error

error: Uncaught Error: Unknown response for startup: E
          throw new Error(`Unknown response for startup: ${msg.type}`);

deno 1.0.0
v8 8.4.300
typescript 3.9.2

postgres (PostgreSQL) 12.2

[2020-05-15 20:42] bartlomieju commented on #120
Which version of `deno-postgres` do you use?

[2020-05-16 03:58] sarthaksavvy commented on #120
I just used it like this

`import { Client } from "https://deno.land/x/postgres/mod.ts";`
I think this should pull the latest version

[2020-05-18 16:49] mjswensen opened #121 "Misleading error message on missing environment value"
With the following environment configuration:

[code]

and the following contents in `main.ts`:

[code]

deno-postgres throws this error when using `deno run --allow-env --allow-net main.ts`:

[code]

I'd propose the following solutions:

1. If `--allow-env` is passed, don't warn that "Connection parameters can be read from environment only if Deno is run with env permission"—it's confusing since

[2020-05-19 15:37] andreespirela opened #124 "Todo: handle notice"
Hello. I am getting an annoying console.log on my application coming from this module, so when postgres throws a notice for a query, I get "todo: handle notice" on my console.

[2020-05-21 01:54] grantcarthew commented on #124
This is happening because of this: https://github.com/buildondata/deno-postgres/blob/6527ecc561f666054ca54a355ef1b2a51842eecb/connection.ts#L297

More importantly, the next while look doesn't handle `case "N"` for notices. I can't run DDL due to this. If you want, as a quick work around, clone `deno-postgres`, import from there, edit the case in the while look to break on "N".

[2020-05-21 01:57] grantcarthew commented on #82
Please pin this issue. Also, a good postgres driver is rather urgent. I know, open source, not getting paid, do it yourself...   I understand.

[2020-05-21 03:17] andreespirela commented on #124
@grantcarthew Sure, I would do that but my application is a framework so it’s not only me who uses it and I prefer it having this module as a dependency rather than downloading the whole folder and putting it my module. I hope you understand, regards.

[2020-05-21 03:29] grantcarthew commented on #124
It's a workaround for now. Once this project gets attention then switch back. If you want to keep working on your framework whilst this is an issue, it will get you going.

[2020-05-21 03:57] grantcarthew opened #126 "Return objects rather than arrays"
The node.js project `node-postgres` or `pg` returns objects rather than rows of arrays. It was elegant to work with. Is there a reason this project only returns an array of arrays? Am I missing something?

[2020-05-21 04:39] grantcarthew opened #127 "Expose _ready on the pool object"
Should this not be renamed to `ready` or `connected`?

[2020-05-21 08:44] grantcarthew opened #128 "Don't know how to parse column type: 816425"
Here is the DDL for the table that was being queried at the :

[code]

[2020-05-21 13:04] #95 closed

[2020-05-22 01:42] grantcarthew commented on #82
Would it not be better to directly port the [node-postgres](https://github.com/brianc/node-postgres) project over to Deno? As you can see above, I have opened a [discussion](https://github.com/brianc/node-postgres/issues/2225) about this on the original repository.

[2020-05-22 22:47] zarszz commented on #128
i also faced this error when declaring a some custom type like this
[code]
my query
[code]

and throwing a error like this

[code]

[2020-05-22 23:58] hayd commented on #120
I wonder if this can happen if you don't await startup?

could you share some code?

[2020-05-22 23:59] hayd commented on #126
IMO we should copy what node-postgres does.

[2020-05-23 06:49] hayd commented on #49
Looking again, and rereading the issue, I don't think the pool tests are disabled.

[2020-05-24 11:26] bartlomieju opened #130 "Looking for maintainers"
In #82 I said that I want to put more work into this project after Deno 1.0 is released. Now that we are past 1.0 release I had to reevaluate my stance.

After careful consideration I determined that I won't be able to put as much work and focus into `deno-postgres` as is needed to make a high quality library.

Therefore I've reached out to @hayd, who had been top contributor to `deno-postgres`, w

[2020-05-25 16:14] richardgirges commented on #120
I'm running into this as well. Here's my code:

[code]

Note that I don't run into this issue when I'm connecting to `localhost:5432` with no password. However, when I attempt to connect to a remote host, it doesn't work.

I've tried two different remote hosts and they both. yield the same issue.

[2020-06-05 14:31] linuxguy467 commented on #32
deno-postgres.com leads me to Server not found error page

[2020-06-05 14:35] linuxguy467 opened #131 "Deno Postgress link in README.md does not work"
I get a Server not found error when i go to https://deno-postgres.com/
![deno_postgres_docs_error](https://user-images.githubusercontent.com/14182175/83888717-38aae900-a718-11ea-975a-680a72d26861.png)

[2020-06-05 16:06] hayd commented on #32
oh, no! I missed this happening, will fix it up...

[2020-06-06 10:08] bander-saeed94 commented on #99
Hi there, Any update regarding this issue?

[2020-06-06 10:12] bander-saeed94 commented on #99
This raise when inserting as well when selecting

[2020-06-08 17:19] #99 closed

[2020-06-12 13:16] kaleidawave opened #134 "Add generic argument to client.query"
I would like to see a single generic argument for the data type of the row returned.

For example currently:

[code]

But with a generic parameter on `client.query`

[code]

This doesn't have any runtime effects and should be a simple addition to `QueryResult`. If no generic argument it would fall back to the `rows: Array<any>` so should not have any breaking changes.

I have found this feature us

[2020-06-14 18:59] gungunfebrianza opened #136 "Error: Don't know how to parse column type: 1015"
Hello guys recently i am tried to fetch some row from my postgresql table,

[code]

there is nothing wrong with above code and the query, but seems we still cant parse any table that has an array column? since i have 3 column that contains **character varrying[] data type**.
here is the error

`Error: Don't know how to parse column type: 1015`

what do you think?

Stack Trace :
`Stack
"Error: Don'

[2020-06-15 22:38] bander-saeed94 commented on #136
Hello @gungunfebrianza , I think you can make a pull request with fix for it. Refer to this where I fixed Error: Don't know how to parse column type: 1042
https://github.com/deno-postgres/deno-postgres/pull/132

[2020-06-16 08:45] rhelenagh opened #137 "Error: Don't know how to parse column type: 1009"
Hello team!
This module for Postgres is very promising. To contribute to its quality, I want to report this error to you:

I have this error because my table contains a property of type text array (text []).

I attach the Stack trace:

`Error: Don't know how to parse column type: 1009
    at decodeText (https://deno.land/x/postgres/decode.ts:233:13)
    at decode (https://deno.land/x/postgres/deco

[2020-06-17 06:16] hayd opened #138 "Pass deno lint"

[2020-06-17 06:18] hayd commented on #136
Is there a canonical list of these column types?

[2020-06-17 06:22] hayd commented on #131
Fixed!

[2020-06-17 06:22] #131 closed

[2020-06-17 06:23] hayd commented on #86
I think will close this for now, but may turn this on in the future.
Interesting project!

[2020-06-17 06:23] #86 closed

[2020-06-17 06:27] hayd commented on #127
This seems reasonable. My preference would be `ready` since although in the current code the minimum initial poolsize is 1, this wouldn't necessarily be the case (it could lazily be 0).

[2020-06-17 06:32] hayd commented on #102
This is interesting, I think it'd be good to see a POC.
Not a huge fan of the singular ones i.e. .row etc. throwing (I think .rows[0] would be more explicit anyway).

[2020-06-17 06:34] hayd commented on #124
Should it break? What's the correct behavior here?

[2020-06-17 06:40] hayd commented on #120
Could you try with v0.4.2 ? I wonder if this is fixed by the query lock #129.

Note: The await shouldn't be required in the Pool constructor, I think that's always sync.

[2020-06-17 06:43] hayd commented on #117
Is there a canonical list of these mappings (is there some prior art / code)?

[2020-06-17 15:02] jakajancar commented on #102
Well, as you know, I ended up rolling my own :) As a POC if you find it useful:

[API docs](https://doc.deno.land/https/raw.githubusercontent.com/jakajancar/pgc4d/master/src/mod.ts#BufferedQueryResult)

[More docs](https://github.com/jakajancar/pgc4d/wiki/Getting-started#query-results)

[Implementation](https://github.com/jakajancar/pgc4d/blob/bff9186b043648f64a8f37eb26eda25bf292b5fd/src/query_res

[2020-06-17 15:02] #102 closed

[2020-06-17 15:05] jakajancar commented on #128
If you want user-defined types and are not too deeply invested in deno-postgres, you can give [pgc4d](https://github.com/jakajancar/pgc4d) a go.

As perhaps an inspiration  for deno-postgres, [here's how I implemented it](https://github.com/jakajancar/pgc4d/blob/master/src/data_type_registry.ts).

[2020-06-17 15:51] hayd commented on #102
I will add a link in the readme :)

[2020-06-17 15:56] #138 closed

[2020-06-17 16:29] jakajancar commented on #102
Awesome, thank you!

[2020-06-17 23:44] grantcarthew commented on #128
That project looks great @jakajancar. I'm going to open an issue there about types. Thanks for the input.

[2020-06-19 09:57] hork71 commented on #136
this list will get you started

`
postgres=# select oid, typname, typelem, typarray, typisdefined, typtype, typinput, typoutput, typsend, typreceive from pg_type;
`

Rust implementation [https://docs.rs/postgres-shared/0.4.1/src/postgres_shared/types/type_gen.rs.html#1584](url)

[2020-06-19 16:36] domoritz opened #140 "Make user optional"
The user property should be optional.

[2020-06-20 18:03] martonlederer opened #141 "Publish deno-postgres on nest.land"
[Nest.land](https://nest.land) is a growing ecosystem of Deno modules. It is a blockchain based package-registry, so if you publish a module, no one will be able to remove it ever again. This is especially useful and important regarding the url-based imports in Deno and most importantly, security.
Even though Nest.land is in beta, it is really powerful and also faster than the github servers ([den

[2020-06-21 01:19] ebebbington opened #142 "Sanitisation"
Are there any plans to implement sanitisation to queries sent using `.query(...)`?

Or would this be down to the developer to implement?

[2020-06-24 03:19] asontha opened #144 "Incompatible with Google Cloud Run: Device or Resource busy (os error 16)"
https://stackoverflow.com/questions/62504770/cloud-run-fail-to-connect-to-postgres-cloud-sql-device-or-resource-busy-os-err

Thoughts? Is this in this lib or is it perhaps something to do with deno?

[2020-06-24 12:14] ebebbington opened #145 "DB Result Interface"
Add an exported interface that we can assign as a type to the returned data of `.query()`. For example:

[code]

[2020-06-24 18:10] #136 closed

[2020-06-24 18:11] hayd commented on #137
closed by #143 !

[2020-06-24 18:11] #137 closed

[2020-06-24 21:27] FraserHamilton opened #147 "Connection Management Best Practices"
What are the best practices for managing our connections to the database? I'm unsure of how to manage these properly and the readme doesn't really provide much guidance on this. Currently I'm opening a connection, executing my query and then closing the connection. Is there a recommended way to handle eliminating this code duplication?

[2020-06-30 00:47] ebebbington commented on #145
A user can actually do:
[code]
And everything works as it should.

I don't suppose the docs could be updated for this?

I should also note, to use `result.rowDescription.columns`, you'll need `Column` from `connection.ts` to type it, eg:
[code]

[2020-07-01 09:26] aviteller opened #148 "Error using using deno-postgres but query works directly in cli"
Im trying to enter this query in my app:

`SELECT * FROM books AS b  JOIN (SELECT id,name FROM  users) u ON b.user_id = u.id  WHERE b.deleted_at is null  AND  b.slug  ILIKE '%the%'   LIMIT 10 OFFSET 0 `

i get back this error

`Error: PostgresError: missing FROM-clause entry for table "b"
    at Book.DB.getAll (DB.ts:172:13)
    at async Book.getBooks (Book.ts:57:12)
    at async BookController.ge

[2020-07-03 09:20] ruphin opened #149 "Add support for connecting to linux socket"
Many cloud services expose hosted database services through linux socket files. Please add a configuration option to connect to a linux socket.

[2020-07-08 00:58] ebebbington commented on #147
Hi @FraserHamilton , see here: https://github.com/deno-postgres/deno-postgres/pull/150

[2020-07-08 02:35] ebebbington commented on #126
What about something like:
[code]
(Could be improved but you get the gist)

I've actually implemented something similar in a Deno project that uses deno-postgres but that was obviously manual work, and each db query calls that method to get the data in key value pairs

[2020-07-08 02:37] ebebbington commented on #124
Can't you just remove the `console.log` and replace it with a `// TODO(<name>) Handle notice`? Or am I missing something?

[2020-07-08 02:42] ebebbington commented on #121
I'd say this notice is redundant (the env part), but maybe the first sentence could be improved upon to explain the context a bit more?

@hayd

[2020-07-08 16:39] hayd commented on #121
That is confusing! 1. definitely would be a huge improvement.

Is 2. standard? What does node-postgres do here?
(IMO Using PGUSER as PGDATABASE feels a little too magical/not explicit, but if that's what other systems do then ok!)

[2020-07-09 12:27] mjswensen commented on #121
Looks like from [this docs page](https://node-postgres.com/features/connecting) that both user name and database name are defaulted to `process.env.USER`, which I guess is a little different than defaulting one from the other.

[2020-07-14 13:23] yababay opened #153 "URL is not assignable to parameter of type 'string'"
Hi, deno-postgres.

I have used this driver sucessfully for some weeks, but after updating I have discovered an error:

[code]
It appears on my computer even in very simple code:
[code]
How can I fix this? Thank You!

[2020-07-14 13:27] bartlomieju commented on #153
Type definition for `URL` constructor has been changed in `1.2.0` to align with TypeScript type definitions. We need to update `deps.ts` to use latest version of `std/`. Meanwhile you can downgrade Deno to `1.1.3` and it should still work.

[2020-07-14 13:31] yababay commented on #153
Thank you for quick response!

[2020-07-14 13:31] #153 closed

[2020-07-16 10:49] tksilicon opened #154 "Insert should return lastidinserted."
Insert should return affectedrows and last id inserted. I am making use of this library in [Dso](https://deno.land/x/dso). Found they were was missing.

[2020-07-17 11:12] ebebbington commented on #154
I believe the returned result should give the affected rows (as of latest release):
[code]

[2020-07-17 11:20] ebebbington commented on #154
If it was to return the id, do you have an idea of how it would be handled? Obviously it's up to @hayd but i'd assume deno-postgres would want to keep the `QueryResult`, so maybe a new property would be added:
[code]
But even then, not sure how it would get the id internally, without querying the db again, and even so how it would know what to query

[2020-07-17 11:20] tksilicon commented on #154
That's correct but lastinsertedid isn't returned. Let me edit my initial comment.

[2020-07-17 12:21] andre1sk commented on #154
you can just add RETURING ? and return whatever fields you need ?

[2020-07-17 12:47] tksilicon commented on #154
That's interesting, this should work for single inserts I guess. And solve the issue.

[2020-07-17 17:12] hayd commented on #154
You kinda want to do `RETURNING MAX(id), count(1)` (so as to avoid sending all the data back, or doing two queries) but that isn't valid...

[2020-07-17 18:33] ebebbington commented on #154
Couldn't you add `RETURNING id` to the end of the query? Though this would be directly modifying the users query? Idk how things like Laravel implement it? Then i guess there's the question of where/how this data gets returned back to the user (within QueryResult i assume?)

[2020-07-17 21:03] #145 closed

[2020-07-17 21:03] #147 closed

[2020-07-18 10:22] tksilicon commented on #154
Could you have two inserts, one for those not interested in returning the id and another for returning the id. So folks like me implementing your library in an ORM where we have other database driver libraries like deno mysql have implemented such.

[2020-07-24 08:23] tksilicon opened #156 "Transactions"
How is transaction implemented? In this [mysql](https://deno.land/x/mysql) connection object is expose to handle transactions. How does it work in this library? This library is being plugged into [DSO](https://deno.land/x/dso).

[2020-07-30 12:22] fauzan121002 opened #157 "Some dependency needs deno version 1.2.1 support"
I update my deno to version 1.2.1 , while use this package , i got this error , i think you need to upgrade some dependency to support latest deno version.

[code]

I hope you fix this issue.

[2020-07-30 20:55] #157 closed

[2020-07-30 20:59] fauzan121002 commented on #157
I thought it was from the library, I looked for the code that was problematic, apparently nothing was wrong, but the error appeared when I deleted deno-postgres,

my oh my spend 4 hours to fix this issue, with this command:
`deno run -A --unstable --reload server.ts`

I hope this helps if you experience the same thing

[2020-07-30 21:01] fauzan121002 commented on #157
or you can try this
`deno cache --unstable --reload <your main file>.ts`

[2020-07-30 21:03] fauzan121002 commented on #157
I thought it was from the library, I looked for the code that was problematic, apparently nothing was wrong, but the error appeared when I deleted deno-postgres,

my oh my spend 2 hours to fix this issue, with this command:
deno run -A --unstable --reload server.ts "server.ts is my main file"

I hope this helps if you experience the same thing

[2020-07-30 21:03] fauzan121002 commented on #157
or you can try this
`deno cache --unstable --reload <your main file>.ts`

[2020-08-05 19:20] Soremwar opened #160 "Lack of SSL: Unknown auth message code 1397113172"
When using a username that contains @ in it, the login with fail with the following message `Unknown auth message code 1397113172`.

Same happens when a working connection string is provided to the client.

[2020-08-05 20:04] Soremwar commented on #160
@hayd After reading some more about the problem, the issue seems to be specific to Azure, which requires to specify a hostname for the user in question.

[2020-08-06 22:19] Soremwar commented on #160
@hayd BTW, the problem got solved by forcing Azure to connect through TLS, so it looks like the problem is actually the lack of SSL support in the library.

Leaving this open as a reminder for implementing that funcionality.

[2020-08-09 00:06] aaronwlee opened #162 "cjs module conflict"
This is a strange bug.

I've continuously got this `Implicitly has an 'any' type` error messages when I use your Postgres driver only.
In other words, your module is fine in standalone. However, other files and modules have been affected by this module. especially cjs and mjs.

Also, my own tsconfig doesn't work and I have a problem when loading the cjs files.

you can reproduce this error message

[2020-08-29 00:48] uki00a commented on #117
Hi, I've made a list of mappings based on [the node-pg-types's source](https://github.com/brianc/node-pg-types/blob/master/lib/textParsers.js) and [decode.ts](https://github.com/deno-postgres/deno-postgres/blob/master/encode.ts).

## Unmplemented types

|oid|type name|TS type|
|:---:|:---:|:---:|
|600|point|`{ x: number, y: number }`|
|718|circle|`{ x: number, y: number, radius: number }`|
|1000|_

[2020-08-31 05:17] AzamatbekMamarajabov opened #163 "Error TS2790: The operand of a 'delete' operator must be optional with latest deno-postgres (v0.4.3)"
I am having such errors with  latest versions of deno@v1.3.2,  ts@v4.0.2, deno-postgres@v0.4.3

[code]

[2020-08-31 07:39] TheWow commented on #163
try this
[code]
and
[code]

[2020-08-31 11:32] AzamatbekMamarajabov commented on #163
thanks, it worked, I downgraded typescript, deno-postgres, denon and forgot to downgrade deno, what a coincidence

[2020-08-31 16:08] #163 closed

[2020-09-02 03:01] netanelmaroof opened #165 "Strange TS error - using denodb"
error: TS2790 [ERROR]: The operand of a 'delete' operator must be optional.
    delete this.conn;
[code]
    at https://deno.land/x/postgres@v0.4.3/connection.ts:613:12

TS2790 [ERROR]: The operand of a 'delete' operator must be optional.
    delete this.bufWriter;
[code]
    at https://deno.land/x/postgres@v0.4.3/connection.ts:615:12

[2020-09-02 03:19] KyleJune commented on #165
This module hasn't been updated yet for [Deno 1.3.2](https://github.com/denoland/deno/releases/tag/v1.3.2). Those errors are caused by changes in the newest version of TypeScript. You can either downgrade your Deno version and wait for this module to get updated or fork this repository to resolve those issues yourself. If you decide to fork and resolve the issues I'd recommend creating a PR.

[2020-09-04 16:24] #165 closed

[2020-09-04 18:11] pandakub opened #167 "TS2790 [ERROR]: The operand of a 'delete' operator must be optional"
connection.ts, starting at line 612

I get this error just by importing/exporting DenoDB and running it using the following flags on my Win10 machine through an elevated PowerShell:

E:\<my-deno-apps>\<myapp> deno run --allow-net --allow-env --allow-read=./ entry.ts

error: TS2790 [ERROR]: The operand of a 'delete' operator must be optional.
    delete this.conn;
[code]
    at https://deno.land/x/

[2020-09-04 18:44] pandakub commented on #167
Sorry, this was a duplicate.

[2020-09-04 18:44] #167 closed

[2020-09-04 19:26] pandakub commented on #167
Note:  0.4.3 of this repos is the most recent release which can be downloaded from Deno's Third Party Modules

0.4.3 has this issue, 0.4.4 does not

https://deno.land/x/postgres@v0.4.3/

[2020-09-04 19:27] pandakub commented on #163
Note: 0.4.3 of this repos is the most recent release which can be downloaded from Deno's Third Party Modules

0.4.3 has this issue, 0.4.4 does not

https://deno.land/x/postgres@v0.4.3/

[2020-09-05 08:47] uki00a opened #169 "deno-postgres@v0.4.4 seems not to be published in deno's module registry"
## Description
Importing deno-postgres@v0.4.4 returns 404 error:
[code]
## Possible cause & solution
I think this problem is due to [the recent changes in the registry](https://deno.land/posts/registry2#changes). This problem can be solved by setting up a webhook in this repository.
## Ref
- https://deno.land/posts/registry2
- https://deno.land/images/add_webhook.mp4

[2020-09-06 02:14] pandakub commented on #169
Seconded.

This is causing an error that forces me to revert to 1.3.0 of Deno.

0.4.3 has a TypeScript error in connection.ts that 0.4.4 resolves, so this is pretty dire

[2020-09-06 20:23] PaulFish-Radius commented on #169
Please let us know when resolved - thanks for the update and great library.

[2020-09-10 11:25] xcatliu opened #170 "Consider using Pagic to build the website?"
[Pagic](https://pagic.org) is a static site generator powered by Deno + React

Here are some demos:

- [pagic.org](https://pagic.org)
- [Deno X ranking](https://yoshixmk.github.io/deno-x-ranking/)
- [TypeScript 入门教程](https://ts.xcatliu.com/)

If it is possible to use pagic to build the website, I would like to create the pull-request

[2020-09-14 12:23] Danieliessen opened #171 "Upload a new 4.4 version to denoland"
Upload a new version 4.4 to denoland to make it work with new deno and such frameworks as denodb, for example.

[2020-09-14 15:05] kaleidawave commented on #171
Duplicate of #169

[2020-09-15 08:06] Danieliessen opened #172 "Cannot access 'Adapter' before initialization.."
[code]

[2020-09-15 08:30] #172 closed

[2020-09-15 13:16] PaulFish-Radius commented on #169
@hayd deno is now onto v1.4.0 - may we have an update, when available?

[2020-09-15 14:03] Zerowalker commented on #169
waiting for this as well, using the "raw" link as a workaround but best would be if it's going through the right place:)

[2020-09-15 16:35] dylanpyle commented on #126
FYI: Looks like you can call `result.rowsOfObjects()` to get data out in this format — I agree that this should be the default though! It's much nicer.

[2020-09-15 17:25] #171 closed

[2020-09-15 17:26] hayd commented on #169
I think this should be fixed now, and will work for future versions. Apologies!

[2020-09-15 17:37] PaulFish-Radius commented on #169
Thank you @hayd for all the contributions you make to the deno community - it means a lot.

[2020-09-15 17:59] PaulFish-Radius opened #174 "Update for deno 1.4.0"
Deno is moving fast and breaking things.

Getting errors with postgres@v0.4.4 on deno 1.4.0

Errors below (sorry for formatting):

TS1205 [ERROR]: Re-exporting a type when the '--isolatedModules' flag is provided requires using 'export type'.
  Deferred,
[code]
    at https://deno.land/x/postgres@v0.4.4/query.ts:1:1

TS1371 [ERROR]: This import is never used as a value and must use 'import type' b

[2020-09-15 18:02] hayd commented on #174
Could you make a PR? Otherwise I will fix this tonight.

Should be `import type { ConnectionParams } from "./connection_params.ts";` etc. and also READMEs.

[2020-09-16 05:54] #174 closed

[2020-09-16 05:55] #169 closed

[2020-09-16 14:09] uki00a commented on #169
Thanks for resolving this @hayd!

[2020-09-24 20:36] haf commented on #120
Repro: your quickstart https://deno-postgres.com/#/ with pg 12 over the network

[2020-09-26 12:24] StefanHoutzager opened #176 "errorhandling"
Clients using this lib have to catch errors. Maybe an interesting alternative, based on haskell's either monad:
https://dev.to/_gdelgado/type-safe-error-handling-in-typescript-1p4n
There is a more to find on this subject on internet

[2020-09-28 12:52] biggledfred commented on #124
@ebebbington agreed it is a little confusing and the message doesn't provide context or anything useful.  If it is a TODO as a comment, if it should break due to incorrect config then it should do.  It took a little searching about to even know that it was coming from this module.

[2020-10-01 17:35] kaleidawave opened #177 "PostgreSQL's bigint type should be treated as BigInt rather than String"
Have seen #91 and understand not to decode to `Number` for Postgres BigInt types. BUT [BigInt](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt) would be more intuitive than String and get around the bounds issue.

Would be a simple change and I could write PR?

[2020-10-04 05:26] rizkyramadhan opened #178 "Error: Don't know how to parse column type: 22"
Try to execute `SELECT CURRENT_DATABASE()`. It will throw this error.

[2020-10-05 19:52] Soremwar commented on #117
199 abd 3807 addressed on #179

[2020-10-05 21:35] Soremwar opened #180 "Parse enum types"
Hey there @hayd !

So the initial intent of #179 was to also add support for enum types, which should be just parsed as string.

However after a couple hours checking the code I couldn't find a reliable way to do so, since the column type of enums is generated.

What do you think could be the way to go on from here in order to solve this?

[2020-10-07 11:26] StefanHoutzager opened #181 "Returning the postgres DATE type"
Currently I get my dates (defined with datatype DATE) back as f.e. "2021-03-02T23:00:00.000Z" while pgadmin gives 2021-03-03. So I get the wrong date back, and a timestamp was added.
You can find the same issue in node-postgres  https://github.com/brianc/node-postgres/issues/818 where someone suggests a workaround in the end (that I just tested, it works). https://github.com/brianc/node-postgres/i

[2020-10-12 14:16] reonZ opened #182 "Support scram-sha-256 authentication"
As soon as I attempt a `Client.connect` I am having this error:

[code]

my client instantiation:
[code]

The permissions at launch `deno run --no-check --unstable --allow-net --allow-env --allow-read app.ts --local`

The service is obviously running and I can access the database through other means with the same credentials.

Edit: It would seems like i am able to connect to a remote database, bu

[2020-10-25 06:19] sanderhahn commented on #117
The whole list of type oids is dynamic and is available from [pg_catalog.pg_type](https://www.postgresql.org/docs/current/catalog-pg-type.html). The list also contains information about arrays and elements. Some actions can also create new type oids:

[code]

Maybe its possible to query this table at startup time so that the driver knows how to convert values?

[2020-10-27 15:51] ebebbington commented on #182
You sure your local db uses those same credentials as authentication?

[2020-10-28 15:10] hidjou commented on #182
I'm getting this error too, but it seems to only happen when I use Postgres 13, if I switch back to 12 it works just fine

[2020-11-03 07:30] uki00a opened #184 "Support for unimplemented mappings"
## Summary

When using types that are not implemented in [decode.ts](https://github.com/deno-postgres/deno-postgres/blob/master/decode.ts), the following error occurs:

[code]

The following is a list of oids for which mapping is not yet supported:

- [ ] 22
- [x] 27 (#228)
- [ ] 28
- [ ] 29
- [ ] 30
- [ ] 32
- [ ] 71
- [ ] 75
- [ ] 81
- [ ] 83
- [x] 199 (#179)
- [ ] 210
- [ ] 325
- [x] 600 (#185)

[2020-11-04 12:44] mooxl commented on #124
Any updates on this?

[2020-11-07 16:56] EliSauder commented on #182
The error is related to supported encryption types. Newer versions of postgresql use scram-sha-256 for authentication. However, it appears that this driver only supports md5 encryption. To use new versions you will have to manually enter in a md5 hash for your postgres user's password.
How to generate md5 authentication for postgres: https://stackoverflow.com/a/58979721
Once you have the hash you

[2020-11-22 14:46] bartlomieju commented on #130
Update: there was yet another change - the driver has been moved to @denodrivers organization and renamed to `postgres`. Nothing should change for users as the driver is still available at https://deno.land/x/postgres

We're also looking for more maintainers of the driver, if you are interested please reach out on Discord https://discord.gg/unq2BN3EKB

[2020-12-07 08:23] hoangtranson commented on #160
I get this issue when I try to connect to heroku postgresql also.

My `db.ts` file

[code]

Then I get this issue on terminal.

[code]

Note:

1. My code working fine with localhost database (I am using linux pop os)
2. This issue happened on one of my teammate. He using MAC Pro and I have compared the .conf file and see that there is little different between MAC and Linux.

Anyone have any clue?

[2020-12-08 22:09] spoyri opened #186 "Just importing the module to a 1.6.0 deno project gives error"
![image](https://user-images.githubusercontent.com/34547503/101547239-a2030180-39b2-11eb-9a1c-3201063cfe5d.png)

[2020-12-09 11:34] StefanHoutzager commented on #186
Got the same

[2020-12-09 13:25] StefanHoutzager commented on #186
Looks like this is the fix     /* Old code in utils.ts
    export function delay<T>(ms: number, value?: T): Promise<T> {
  return new Promise<T>((resolve, reject) => {
    setTimeout(() => {
      resolve(value);
    }, ms);
  });
} */
// fixed:
export function delay<T>(ms: number, value: T | PromiseLike<T>): Promise<T> {
  return new Promise<T>((resolve, reject) => {
    setTimeout(() => {

[2020-12-10 19:18] Soremwar commented on #186
Closed by #187

[2020-12-10 19:20] #186 closed

[2020-12-11 16:10] NeroStarx opened #188 "error in postgress utils file after upgrading to deno 1.6.0"
I updated my deno version to 1.6.0, then when i tryed to run my server.ts this error message appeared and it wasn't outputing that error in deno version 1.5.4, so please any idea?

[code]

[2020-12-17 10:05] CCCCCCCCCCCCCCCCCCCCCCCCCCCC33 opened #190 "Error: Unknown auth message code 10"
I have This Error When Connect To **PostgreSQL**

[2020-12-25 20:37] VaggelisKa commented on #190
Hi im facing the same problem. Did you find a solution?

[2020-12-26 07:44] MohammadAliChraghi commented on #190
No, I could not find it

[2020-12-28 16:05] StefanHoutzager opened #191 "support for range types"
Maybe this is usable? https://github.com/goodybag/pg-range-parser

[2020-12-30 06:33] transtone opened #193 "syntax error when query"
doc api is:

[code]

this will get syntax error:
[code]

[code]

this will get parameter error:
[code]
[code]

[2020-12-30 11:29] #193 closed

[2021-01-04 03:28] saydus commented on #188
Same issue here!

[2021-01-04 08:41] saydus commented on #120
Running to the same issue

[2021-01-06 19:12] sanjay4one commented on #182
@EliSauder ,
I am also facing the same issue. I tried with your solution but it's not working for me.

First I created the the md5 hash by using the below command:

`echo -n "md5"; md5 -qs "admin123sanjay"` (user: sanjay, password: admin123)
`md578d0addbb4c5f309367b66a6f5f0cc3d`

And below is the postgres connection request:

`export const client = new Client({
    user: "sanjay",
    database: "s

[2021-01-06 21:59] EliSauder commented on #182
@sanjay4one
In your client creation, use the actual password "admin123". You just need to make sure that postgress is storing the password using the md5 hash. Behind the scenes postgress is combining the user name and password and regenerating the hash to see if it matches the one you saved.

Steps:
1. Create a user with an md5 encrypted password (in your case, md578d0addbb4c5f309367b66a6f5f0cc3d)

[2021-01-07 19:18] sanjay4one commented on #182
@EliSauder
Thank you for your reply. Actual password is also not working. Please verify the below connection request:

`export const client = new Client({
    user: "sanjay",
    database: "simple_shop",
    hostname: "localhost",
    password: "admin123",
    port: 5432,
})`

And the stored user information is:

`CREATE ROLE sanjay WITH
  LOGIN
  SUPERUSER
  INHERIT
  CREATEDB
  CREATEROLE
  REPL

[2021-01-08 00:07] EliSauder commented on #182
@sanjay4one
Everything there looks good. I actually also worked through it on my end to see if it works and I was able to get it to work using the following:

(Note my server uses port 5433 instead of 5432)

Using your query:
[code]
And the following connection:
[code]

I think the issue you are having now is unrelated to the login and more on which server/db you are trying to connect to

[2021-01-13 14:02] Soremwar opened #194 "bigint should be represented as BigInt"
Even though #91 is an appropiate solution to the problem of dealing with this data type, the only accurate representation of this numbers is the BigInt type in JavaScript

Raising for discussion

[2021-01-18 23:11] dylanpyle opened #196 "Export PoolClient from `mod.ts`"
Writing code that needs `PoolClient` types is a bit unwieldy because you have to specify the dependency twice and reach into internal code to get it:

[code]

Consider exporting this in `mod.ts` — which you already do for the regular `Client` — to make this easier.

(I'm working on this and will have a pull request momentarily, just opening this issue first per the contribution guidelines)

[2021-01-22 19:00] Soremwar commented on #196
Sorry to check on this just now. What would be the point of exposing PoolClient? It isn't mean to be used as an standalone but rather through the Pool

[2021-01-22 19:47] Soremwar opened #198 "Client | PoolClient should support generics to specify query output"
This is a complicated one. Specyfing an object would be useful for `rowDescription` but useless to `rows` and the other way around

Nonetheless, this is a must have

[2021-01-22 20:00] Soremwar opened #199 "Add benchmarks in CI"
I have a few refactors in mind, probably a good idea to keep track of query speed and memory beforehand. Also would look good on the website

[2021-01-23 00:27] dylanpyle commented on #196
@Soremwar sorry, should have clarified — I'm not interested in using the class itself, just exposing the type definition.

I have code that calls `release()` e.g:

[code]

— you could omit the type annotation there but it's nice to have, and the specific case I ran into was a bit more complicated than that (declared the variable in a different place than I made the connection, so I actually did ne

[2021-01-23 04:29] manojap opened #200 "Property 'url' does not exist on type 'NetPermissionDescriptor'"
Property 'url' does not exist on type 'NetPermissionDescriptor'.
              return pd.url

failed to connect

[2021-01-23 04:51] manojap opened #201 "Uncaught (in promise) ConnectionRefused"
Uncaught (in promise) ConnectionRefused: No connection
could be made because the target machine actively refused it.

work with Nodejs and mongoose

[2021-01-23 17:40] Soremwar commented on #201
By any chance do you know if your database is using SSL to authenticate? Right now, this library only supports TSL

[2021-01-23 17:40] Soremwar commented on #200
@manojap Can you share some code?

[2021-01-23 18:59] manojap commented on #200
I got it , place  imports in a separate file, which cause the error

The problem also exist with denon too

[2021-01-23 19:00] manojap commented on #201
thanks

[2021-01-23 19:00] Soremwar commented on #200
So, is this solved?

[2021-01-24 03:55] manojap commented on #200
yes,

[2021-01-24 17:07] #200 closed

[2021-01-24 18:00] #194 closed

[2021-01-24 22:59] Soremwar commented on #188
This was resolved back in #187

[2021-01-24 22:59] #188 closed

[2021-01-24 23:02] Soremwar commented on #177
Solved in #204

[2021-01-24 23:02] #177 closed

[2021-01-24 23:07] Soremwar commented on #176
Thanks @StefanHoutzager , I like this model, very Rust like!

However I also consider that such a system should be written in the core of JS in order to be correctly implemented, otherwise it will be prone to runtime errors that the system can't predict, thus losing any type of type error soundness

Respectfully closing

[2021-01-24 23:07] #176 closed

[2021-01-24 23:11] Soremwar commented on #154
I'm not up for mutating user queries. Postgres doesn't have a native mechanism to do this but it still can be implemented in user land with a simple statement

Maybe some other driver might be interested in this. perhaps one more ORM oriented, this one is meant to be more bare bones so it can be easily extendable, making this out of scope for the project

[2021-01-24 23:11] #154 closed

[2021-01-24 23:24] #198 closed

[2021-01-24 23:32] Soremwar commented on #178
You can use this function now

[2021-01-24 23:32] #178 closed

[2021-01-24 23:43] #117 closed

[2021-01-25 04:29] Soremwar commented on #121
Error message was improved on v0.5.0, just released

The error will now only show the second part of the warning when env permissions are not passed

Docs about values defaulting to env variables will be added soon

[2021-01-25 04:29] #121 closed

[2021-01-25 04:30] Soremwar commented on #124
@mooxl This was solved on v0.5.0.

Sorry for slow fixing, I'm the new mantainer and I'm doing everything I can to improve the library now!

[2021-01-25 04:30] #124 closed

[2021-01-25 04:33] Soremwar commented on #120
@saydus New mantainer here!

Closed in #208

[2021-01-25 04:33] #120 closed

[2021-01-25 04:34] Soremwar commented on #126
FYI I will be adding a method to query results directly as objects alongside the original function in the upcoming days

[2021-01-25 04:37] Soremwar commented on #128
FYI I intend to resolve this by allowing users to register their own handlers on the client for specific or unknown column types before 1.0

However before that, I intend to solve #184 and then default all new types to strings, which might be as useful (though not as nice) for users

[2021-01-25 04:39] Soremwar commented on #148
Wow this issue has quite some time on it. I'm the new mantainer

Have you encountered this issue with recent versions of the library?

[2021-01-25 04:41] Soremwar commented on #162
This is quite probably an error that the Deno devs encountered while refactoring the TypeScript compiler last year

I'll keep this open so you can check if this is still the case, however this doesn't seem related to the library at all

[2021-01-25 04:43] Soremwar commented on #182
I've encountered this error in the past, and all the times it was related to the particular postgres server config I was using rather than the library it was using as a client

Closing this for now, unless you have proof that this is indeed a problem of the library

[2021-01-25 04:45] Soremwar commented on #190
@CCCCCCCCCCCCCCCCCCCCCCCCCCCC33 See #182 and try the solutions listed there

Since this is quite probably an error related to postgres configuration rather than the library itself I'm going to close it. Feel free to open another issue if you can't reproduce with another postgres client

[2021-01-25 04:45] #190 closed

[2021-01-25 04:49] Soremwar commented on #107
I am very interested in implementing this feature, however it might take a while (I know waiting for almost a year sucks but I'm kinda new around here :smile:  )

Any progress will be reported here

[2021-01-25 04:58] Soremwar opened #209 "Refactor query options"
A bag of options for each query can prove very useful (#58, named query parameters)

I may keep the default behavior (rest parameters and numbered query parameters) when the first argument is not an object, however I don't want current users to have their queries blowing up just because type casting

[2021-01-25 17:32] Soremwar opened #211 "Test"
Testing webhook

[2021-01-25 17:32] #211 closed

[2021-01-25 18:02] EliSauder commented on #182
@Soremwar This isn't so much a bug in the library as it is a feature that does not exist (not supporting the newer scram-sha-256 authentication method. It can be mitigated by manually specifying your authentication type to md5 on the server in the pg_hba.conf file. However postgress comments that scram-sha-256 is more secure as seen in the postgress documentation [20.5. Password Authentication](ht

[2021-01-25 18:37] Soremwar commented on #182
If this is a missing feature from the library then I'm interested in supporting it

I'll look into this and probably implement it into a minor release sometime in the future

[2021-01-26 03:33] Soremwar opened #212 "Discussion: Remove multiQuery method"
After checking the APIs available in the APIs I stumbled upon one that looked quite interesting at first glance but turned out to be very dissapointing: the multiQuery API.

I was expecting some kind of advanced database functionality but the only thing this does is execute one query after another and return an array with the results.

Question is, does anyone have an actual use case for this meth

[2021-01-26 03:34] #212 closed

[2021-01-26 03:35] Soremwar opened #213 "Discussion: Remove multiQuery method"
After checking the APIs available in the Clients I stumbled upon one that looked quite interesting at first glance but turned out to be very dissapointing: the multiQuery API.

I was expecting some kind of advanced database functionality but the only thing this one does is execute one query after another and return an array with the results.

Question is, does anyone have an actual use case for th

[2021-01-26 05:27] Soremwar opened #214 "Refactor test suite"
- [x] The tests found in `tests/queries.ts` and `tests/pool.ts`, they should run in both a client and a pool instead of running them separately for each
- [x] The tests in `tests/data_types.ts` should be randomly generated and use temporal tables, instead of depending on previous setup

[2021-01-26 05:38] Soremwar commented on #126
Support for the `queryObject` method was just added in ec3d360

[2021-01-26 05:38] #126 closed

[2021-01-27 18:00] Soremwar opened #216 "Make debugging easier by including query in postgres error"
More often than not I have to log my executed queries to find syntax problems but have to do it outside of the query in order to get the executed query

[2021-01-27 18:03] Soremwar opened #217 "Allow array values to be passed as query parameters"
- [ ] All the items would have to be of the same type
- [ ] Items can only be of type array, number or string
- [ ] They would be formatted as '{1,2}'::number[] (check if this is viable via prepareded statements)

[2021-01-28 17:25] #213 closed

[2021-01-28 17:36] #134 closed

[2021-01-28 18:08] #201 closed

[2021-01-29 01:04] Soremwar opened #221 "Document return types of values"
It seems clear to me that the return types of many objects like point, timestamptz and bigint are not so clear for many people new to the library, so it's important to document this types somewhere

[2021-01-30 20:31] Soremwar opened #223 "Named query parameters"
I want to do this
[code]

The same way the following can be done
[code]

[2021-01-30 20:55] Soremwar commented on #140
@domoritz All properties are optional at the moment of instantiating a client. Anonymous authentication is supported

[2021-01-30 20:55] #140 closed

[2021-01-30 21:09] Soremwar opened #224 "Add support for template literals"

[2021-01-31 03:09] Soremwar commented on #184
After adding support for some of these types in the last days, I have decided that I will ship an `starter pack` of types that will have official support from the library. I have nearly completed that list, only lacking support for geometry types and date arrays.

After that list is completed, the default behavior of the app when it can't parse a result will be to return it as a string to the user

[2021-01-31 11:25] Soremwar commented on #184
4376f4e just enabled string result as a default

[2021-01-31 11:43] Soremwar commented on #180
This was solved on v0.7.0

[2021-01-31 11:43] #180 closed

[2021-01-31 11:45] Soremwar opened #239 "Allow users to subscribe custom parsers into the client"
_Edited by @bombillazo_

**Is your feature request related to a problem? Please describe.**

By default, data returned by the database driver is serialized in a string.

While some database types can be automatically decoded into a common JS type, developers may need more control over the data parsing to convert from the DB types to the TS/JS types. One example can be parsing `date` or `timestampt

[2021-01-31 11:46] Soremwar commented on #128
This was solved on v0.7.0

[2021-01-31 11:46] #128 closed

[2021-02-03 13:09] JADSN opened #241 "Object query - easy management with interface like types."
#### I need to declare the type `QueryObjectResult<Record<string, unknown>>` for `client.queryObject(query)` and ` Record<string, unknown>[]` for `rows`

![image](https://user-images.githubusercontent.com/7506354/106750596-cbcd5300-6606-11eb-9e63-4dcb000a131d.png)

#### How can i  use `client.queryObject<Tag>` like the documentation: [docs](https://deno-postgres.com/#/?id=object-query) ?

##### Th

[2021-02-03 14:07] Soremwar commented on #241
Hey there @JADSN

Your code can translate roughly into the following:
[code]

Pretty sweet, uh?

In the future though, please refrain from opening issues unless it's to report bugs or unexpected behaviors. Instead, hit me up on discord https://discord.com/invite/HEdTCvZUSf

[2021-02-03 14:07] #241 closed

[2021-02-04 10:34] Dreamkarifha9 opened #242 "Error: Unknown auth message code 1375731712"
Error: Unknown auth message code 1375731712
    at Connection.handleAuth (connection.ts:216:15)
    at Connection.startup (connection.ts:170:16)
    at async Client.connect (client.ts:163:5)
    at async RegisteractModel.findfristpage (Registeract_test.ts:104:7)
    at async getFristpage (RegisterController_test.ts:19:19)
    at async dispatch (middleware.ts:39:7)
    at async authMiddleware (auth

[2021-02-04 10:42] Dreamkarifha9 commented on #242
Another One

PartialReadError: Encountered UnexpectedEof, data only partially read
    at BufReader.readFull (bufio.ts:183:19)
    at async Connection.readMessage (connection.ts:120:5)
    at async Connection._simpleQuery (connection.ts:313:11)
    at async Connection.query (connection.ts:589:16)
    at async RegisteractModel.findfristpage (Registeract_test.ts:115:22)
    at async getFristpage (Re

[2021-02-04 11:16] seilon-zhang commented on #242
I made the same mistake
`const dbPool = new Pool({
  user: "postgres",
  password: "123456",
  database: "deno",
  hostname: "192.168.18.200",
  port: 5432,
}, POOL_CONNECTIONS);`

`error: Uncaught (in promise) Error: Unknown auth message code 10
                throw new Error(`Unknown auth message code ${code}`);
              ^
    at Connection.handleAuth (connection.ts:216:15)
    at Connecti

[2021-02-04 12:41] Soremwar commented on #242
Hi there @Dreamkarifha9 and @seilon-zhang

Could you please provide information about your Postgres server setup? The next thing in the list is to provide other connection methods different than standard user password authentication

SSL/TLS for example aren't supported right now, but knowing what other authentication methods could be supported in the meanwhile will be of great help

[2021-02-04 13:10] seilon-zhang commented on #242
The database version used is 13, which is the default setting, and no other changes have been made

[2021-02-04 13:24] seilon-zhang commented on #242
@Soremwar  I've browsed your previous questions and answers, which should be about the verification of the screen-sha-256

[2021-02-04 14:00] Soremwar commented on #242
@seilon-zhang You are right. I will be adding support for this authentication method in the following days

@Dreamkarifha9 I just released a new version that parses the Postgres error messages instead of just showing the error code. Could you pleased update adn tell me what the new error tells you

[2021-02-04 14:01] Soremwar opened #244 "Support for scram-sha-256 authentication"
Reference #242

[2021-02-05 01:39] Dreamkarifha9 commented on #242
@Soremwar

I have updated to the last version. 0.7.0

Error Another

Error: Unknown auth message code 1375731712
    at Connection.handleAuth (connection.ts:216:15)
    at Connection.startup (connection.ts:170:16)
    at async Client.connect (client.ts:163:5)
    at async RegisteractModel.findfristpage (Registeract_test.ts:104:7)
    at async getFristpage (RegisterController_test.ts:19:19)
    at

[2021-02-05 01:42] Soremwar commented on #242
@Dreamkarifha9 The patch to check the error was released on 0.7.1 :/

[2021-02-05 02:05] Dreamkarifha9 commented on #242
@Soremwar

update on 0.7.1  error

Error: Unknown auth message code 1375731712
    at Connection.handleAuth (connection.ts:233:15)
    at Connection.startup (connection.ts:171:16)
    at async Client.connect (client.ts:163:5)
    at async RegisteractModel.findfristpage (Registeract_test.ts:104:7)
    at async getFristpage (RegisterController_test.ts:19:19)
    at async dispatch (middleware.ts:39:7

[2021-02-05 02:07] Soremwar commented on #242
@Dreamkarifha9 Ok, so it doesn't seem to be a connection error

What method are you using to authenticate with your database? Plain password? SSL? TLS?

[2021-02-05 02:10] Dreamkarifha9 commented on #242
@Soremwar

I use setup

const dbConfigsetup: ConnectionOptions = {
  user: "postgres",
  password: "200711",
  database: "",
  hostname: "",
  port: 5432,
};
export const config: Config = {
  dbConfigsetup,
};
export { database, dbconfig };

[2021-02-05 02:12] Soremwar commented on #242
No, I mean how is your database configured. Or if you are using a database provided as a service (Amazon, Azure, etc) which one are you using and what are your settings?

[2021-02-05 02:20] Dreamkarifha9 commented on #242
@Soremwar

I use postgresql
And i use Docker on windows serve

[2021-02-05 02:24] Soremwar commented on #242
Did you configured the docker image yourself?

Also can you come to the discord server? It's kinda annoying trying to figure out the issue this way

[2021-02-05 02:30] Dreamkarifha9 commented on #242
Yes, I can ask your discord server

[2021-02-05 02:31] Soremwar commented on #242
I'm in the postgres channel, the link is in the README

[2021-02-05 02:33] Dreamkarifha9 commented on #242
Ok

[2021-02-05 04:40] darklight9811 opened #245 "strictNullChecks on tsconfig.json breaks module"
I know that the error message doesn't have anything to do with what I'm changing on tsconfig, but it happens nonetheless.

# tsconfig.json

[code]

# error message
[code]

[2021-02-05 14:47] andreespirela commented on #245
This is upstream. You're not supposed to change that, Please read:
https://github.com/denoland/deno/blob/8bef29fd74f24e3682069a1188386d90805a9904/docs/typescript/configuration.md#how-deno-uses-a-configuration-file

![image](https://user-images.githubusercontent.com/60560109/107048468-fbab6080-6796-11eb-8fb9-235f9dab6fe0.png)

While it is true that you can have your own tsconfig, since 1.5 Deno has

[2021-02-05 16:39] darklight9811 commented on #245
@andreespirela , but how would that go? I need to change that because of a package I'm using, and everything works fine until I import this module.

[2021-02-05 16:41] andreespirela commented on #245
@darklight9811 There's no solution for it, your packages and your code is either Deno standard or it isn't. Packages that are well maintained tend to be Deno standard, so if a package of yours require `strictNullChecks` is probably outdated.

Cc @Soremwar

[2021-02-05 16:53] darklight9811 commented on #245
@andreespirela, all of this because typescript is being annoying... Do you have any other solution to this?

[code]

It complains that id, name, and email are not set on constructor.

[2021-02-05 16:55] andreespirela commented on #245
@darklight9811

you could do
[code]
and so on
`//@ts-ignore`` directive on top of the fields generating error could save you the pain

[2021-02-05 16:58] darklight9811 commented on #245
@andreespirela, but those fields will be created by the users, I only do the base model. And making them do that seems wrong. I actually feel this whole behaviour of requing initialization wrong. But I could also do public id!: string;

I will find a way, anyway, thanks for the attention.

[2021-02-05 16:58] #245 closed

[2021-02-05 17:00] darklight9811 commented on #245
@andreespirela, by the way. This is the repo I'm talking about:
https://github.com/AcaiFramework/model

[2021-02-06 11:34] uki00a opened #246 "deno-postgres panics on `name_too_long` error"
## Summary

I noticed that deno-postgres panics when PostgreSQL returns `name_too_long` error. I think deno-postgres should handle this error like [node-postgres](https://github.com/brianc/node-postgres) does. (See `Additional information`)

## Steps to reproduce

Run the following code with `deno run` command:

[code]

Error message in the console:

[code]

## Environment

* deno-postgres@v0.7.1

[2021-02-06 19:42] #246 closed

[2021-02-10 05:52] Soremwar opened #250 "Test authentication methods using both TLS and uncrypted connections"
Add SSL tests that run on every authentication method (need to figure out how to generate SSL certificates for Docker images)

[2021-02-10 15:26] dylanpyle commented on #196
closing this since #197 was declined - no worries!

[2021-02-10 15:26] #196 closed

[2021-02-13 18:25] Soremwar commented on #224
Closed by #251

[2021-02-13 18:25] #224 closed

[2021-02-13 18:27] Soremwar commented on #15
Closed by #249

[2021-02-13 18:27] #15 closed

[2021-02-18 14:15] DjDeveloperr opened #254 "suggestion: Way to disable notices"
There should be a way to disable these notices:

![img](https://cdn.discordapp.com/attachments/768920745618833478/811960577596850236/unknown.png)

Because not everyone wants it in their applications.

[2021-02-18 14:40] andreespirela commented on #254
I agree. Logs should be totally optional, it is up to the developer to decide whether they want their `stdout` to be altered by other packages.

[2021-02-23 20:16] realStandal opened #255 "Template strings and INSERT statements"
* Deno Version: `1.7.4`
* Deno-Postgres Version: `0.8.0`
* Database: `CockroachDB`

I'm trying to run an `INSERT` statement using a `Pooled` connection and template strings. The following is the query being ran:

[code]

Where `${'charleston'}` comes from a variable and throws the following:

[code]

The following two queries **do**, however, work:

[code]

I've created and referenced the connecti

[2021-02-23 21:11] Soremwar commented on #255
Hi there @realStandal

I understand your confusion, however this is pretty simple to explain. You are mixing up two different concepts when executing a query: Template strings and function parameters

In the cases you described above, the following is executed by the driver:

[code]

[code]
This is actually a plain statement, cause you are not using query parameters or template strings, causing yo

[2021-02-23 21:43] realStandal commented on #255
Wow, that is painfully simple. Thank you for taking the time to explain it.

The extra `name,` in the first snippet was a typo on my part, my code didn't actually look like that sorry. Other than that, I think I do understand it and didn't realize I'd need to throw the quotes around it myself; but again that's really obvious now that you point it out.

[2021-02-23 21:47] #255 closed

[2021-02-23 21:48] Soremwar commented on #255
You only need to add the quotes around it if you aren't using template strings or query parameters, since in those cases the driver will understand that you mean to pass those items as parameters rather than executing a plain query

Happy to help you @realStandal

[2021-02-23 21:57] realStandal commented on #255
Now I see where my _real_ mistake was at, I should invest in reading glasses is my biggest takeaway. Thank you again lol.

[2021-02-26 23:33] TriForMine opened #256 "Test failing when using pool: AssertionError: Test case is leaking async ops."
When using a pool client connection in a deno test, the test will fail with the following error:
[code]
Code used:
[code]

[2021-02-27 11:31] uki00a commented on #256
Hmm, I think you need to instantiate `Pool` inside an test function and call `Pool.end` like this:

[code]

[2021-03-05 00:06] thesmart opened #257 "Connection events"
## Feature request

It would be great to have some way to monitor connection events for reporting purposes and to setup defaults for the connection.  For example, in Node I would run:
[code]

I don't see a similar way to do this in the Deno driver.

[2021-03-05 02:24] ebebbington commented on #257
@thesmart isn't

[code]

Easier to read and a more modern implementation, that might suit your need?

[2021-03-05 02:40] Soremwar commented on #257
I'm not to keen to integrate uncontrollable async behaviour such as the EventEmitter style you are proposing

I find @ebebbington solution much more reliable for the current use case, and could be roughly translated to the following

[code]

[2021-03-05 03:20] thesmart commented on #257
Humble thanks for the consideration this is getting!

I agree w/ the sentiment of style, I don’t like the event driven model either. However, setting this option for every PG connection reliably is my concern. Using a pool, I think I’d need be be certain I had popped every connection in the queue to run the setting on each. Further, if a connection goes down (assuming there is reconnection logic)

[2021-03-05 03:48] Soremwar commented on #257
Could you please point me towards an example of the behaviour you want here? I'm always open to add new features

[2021-03-05 13:18] nalanj opened #258 "Support postgresql:// for protocol"
I'm not sure if it was an oversight or otherwise, but the library supports connection strings beginning with `postgres://` but not `postgresql://`, despite the fact that `postgresql://` is [the official libpq way of doing things](https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING). Not too big of a deal, but it definitely threw me off a bit at first when postgresql wasn't

[2021-03-05 13:24] talentlessguy commented on #258
a PR would be very welcome

[2021-03-05 15:43] nalanj commented on #258
@Soremwar this seem reasonable to you?

[2021-03-05 15:46] Soremwar commented on #258
@nalanj Feel free to open a PR if you want, though I don't think it will be a deal breaker for most

[2021-03-05 15:48] nalanj commented on #258
Yep, definitely not a deal breaker. I more just saw it as a rough corner that I could smooth out super easily.

[2021-03-05 16:10] nalanj commented on #258
Closed by #260

[2021-03-05 16:10] #258 closed

[2021-03-06 13:01] nalanj commented on #250
Can you say a little more about "every authentication method"? And are you open to us requiring docker to run the tests to make it dead simple?

[2021-03-06 20:26] Soremwar commented on #250
@nalanj The idea is quite simple, use a docker image and a custom `pg_hba.conf` to test MD5, trust and clear authentication methods (both TLS and non TLS encrypted). I'm working on this

[2021-03-07 03:52] nalanj commented on #250
Cool - wasn't sure if I could lend a hand or not. I'll keep pushing on SSL related stuff.

[2021-03-28 17:51] antoniogamiz commented on #182
Any updates on this? :D

[2021-04-02 21:46] snsinfu commented on #182
I know the issue has already been assigned, but for my own needs I implemented scram-sha-256 auth [in my fork](https://github.com/snsinfu/deno-postgres/tree/feat-scram). Import:

[code]

[2021-04-03 01:43] Soremwar commented on #182
This is huge @snsinfu . I didn't knew much about the SASL protocol myself, so I had been posponing this for a while now. Care to open a PR? Can't believe you even added tests, this is crazy

[2021-04-03 14:29] snsinfu commented on #182
@Soremwar Sure! I opened a PR: #267.

[2021-04-03 21:52] Soremwar commented on #244
Closed in #267

[2021-04-03 21:52] #244 closed

[2021-04-03 21:54] Soremwar commented on #182
Thanks to the effort of @snsinfu this is now supported, you can take it for a ride before the 0.9.0 release by importing from `https://raw.githubusercontent.com/denodrivers/postgres/master/mod.ts`

Closed in #267

[2021-04-03 21:54] #182 closed

[2021-04-05 01:07] Soremwar commented on #256
A pool opens all connections at the moment you instantiate `new Pool`, so when Deno runs the Test, it detects that in your case you had one connection open after the test has finished, triggering the error.

In order to solve this, you can abstract the whole process with a function similar to the following
[code]

And use it like this:
[code]

That way all the connections you need are created only

[2021-04-05 01:07] #256 closed

[2021-04-05 01:08] #170 closed

[2021-04-06 18:28] Soremwar commented on #156
A little bit late, but 0.10.0 just released with a very nice API for executing transactions. Check the docs to get more information about it

[2021-04-06 18:28] #156 closed

[2021-04-11 05:46] #49 closed

[2021-04-12 00:41] Soremwar commented on #160
@hoangtranson SSL support has been added 0.8.0

If you still encounter this problem, feel free to open a new issue

[2021-04-12 00:41] #160 closed

[2021-04-12 03:17] Soremwar commented on #32
All public interfaces are quite well documented with JSDOC for doc.deno.land and the official documentation website is quite complete regarding the use of the library's current features

[2021-04-12 03:17] #32 closed

[2021-04-12 03:17] #130 closed

[2021-04-12 03:21] Soremwar commented on #142
Query parameters are already checked by PostgreSQL when using prepared statements, fortunately this is the preferred way of usage of the library and all query structuration features implement this

Closing as...kinda, yes

[2021-04-12 03:21] #142 closed

[2021-04-12 03:25] Soremwar commented on #144
I overlooked this for a time sadly, however the missing feature required to support this is connection to Unix sockets, the next big thing in my radar

Closing this as duplicate of #149 because title is more clear there and can be understood as a feature request

[2021-04-12 03:25] #144 closed

[2021-04-14 13:20] vtheno opened #274 "Type check on `connection/connection.ts` fail"
Deno Version: 1.9
Platform: Windows
[code]
[code]
Can add type parameters to `class Connection`?

[2021-04-14 17:35] Soremwar commented on #274
I assume this is due to this APIs changing between 1.8 and 1.9 (TLS is unstable at the moment)

I will fix this tonight and release a new version with the patch

[2021-04-16 14:41] pmprosociety commented on #274
Getting same bug - thanks Soremwar for supporting.

[2021-04-16 16:49] TravisFrankMTG commented on #274
Adding my voice, I'm also getting this with 1.9 - will stick with 1.8.3 for the time being.

[2021-04-17 17:24] #274 closed

[2021-04-19 00:31] EliSauder commented on #242
@Soremwar
Not sure what the status of this issue is, but here is an observation I made:
The binary representation of 1375731712 is: 1010010000000000000000000000000
The first byte (byte1) is: 1010010 (82, 0x52) which happens to be the ASCII character 'R'

---

It is possible that the error is for a Routine error. As defined in section 52.8 of the PostgreSQL 13 manual, the ErrorResponse and NoticeRe

[2021-04-19 00:51] EliSauder commented on #191
This has already been requested in issue #61

[2021-04-19 06:30] al6x opened #276 "Shouldn't try/finally be used for releasing pool connection?"
Hi, I noticed that connection pool example is not using `try/finally`, so if error happens the connection may not be released. Shouldn't it be rewritten with `try/finally`, or do I miss something?

[code]

P.S. Also, a question, would the connection pool auto-reconnect if DB/network goes offline and then comes back?

[2021-04-19 10:58] eveningkid opened #277 "Skip the unstable flag"
Hey,

I just upgraded to 0.11 that needs the unstable flag when running and was wondering what was the latest version not requiring it?

I understand this is necessary for TLS but it is a blocker for me at the moment to add this flag.

Also, is the previous version not requiring the unstable API okay to use? Or is there security concerns to have?

Thank you!

[2021-04-19 15:12] Soremwar commented on #277
Hi there @eveningkid . Even though `deno-postgres` will always attempt to stablish a TLS connection, if such a connection attempt fails and you haven't inforced it in your client configuration it will default to a non-encrypted connection. There was a bug on 0.11.0 that prevented this behavior though, but it was quickly fixed for 0.11.1 thanks to your report

Yo should be able to connect without T

[2021-04-19 15:12] #277 closed

[2021-04-19 22:00] eveningkid commented on #277
Thank you so much for all the details, Steven.

It really fills my heart with joy to see someone spending so much of his time on making a repo great for everyone.

Keep it up, have a great day

[2021-04-20 05:28] TravisFrankMTG opened #278 "Uncaught SyntaxError: A class may only have one constructor"
When building with [hayd/alpine-deno:1.9.0](https://hub.docker.com/layers/hayd/alpine-deno/1.9.0/images/sha256-7e5e9f019df8553bf96bfd46dfa13da9ec252b41cc8136f39ab86a432d11eca5?context=explore), I am receiving the following SyntaxError:

[code]

This behavior was not present with 1.8.2; perhaps stemming from [useDefineForClassFields](https://github.com/denoland/deno/pull/10119) set to `true`?

[2021-04-20 23:41] andreespirela opened #279 "Environmental flag Disable logging"
There should be an environmental flag to disable logging.
![image](https://user-images.githubusercontent.com/60560109/115476708-6c97db80-a210-11eb-9dd5-13b2203498c0.png)

This is a blocker for Mandarine 3.0.0 release.

[2021-04-20 23:57] Soremwar commented on #279
It's in the milestone for 0.12.0, duplicate of #254

[2021-04-20 23:57] #279 closed

[2021-04-21 06:53] jzaki opened #280 "Update conn to not be generic. From recent (breaking) deno change"
# Error
In project deps.ts: `export { Client } from "https://deno.land/x/postgres@v0.11.1/mod.ts";`

Run or test with deno produces error...
[code]

# Fix
https://github.com/denodrivers/postgres/blob/master/connection/connection.ts#L149
Removing <Deno.NetAddr> (on my local cached postgres) allowed this to work for me, but there might be more to it.

# Reference
"It might be breaking again now that

[2021-04-22 02:50] Soremwar commented on #280
So, this is an awful fix, but it's how things will go since I introduced a breaking change to adjust to their breaking change, and now that they rolled back the breaking change I'm the one with the broken library :upside_down_face:

Deno 1.9.0 can use 0.11.0
Deno 1.8.x and lower, and Deno 1.9.1 can use 0.10.x and 0.11.2 (coming soon)

[2021-04-22 02:50] #280 closed

[2021-04-22 20:56] Soremwar commented on #278
Hi @TravisFrankMTG, by any chance are you bundling your code?

[2021-04-22 21:43] TravisFrankMTG commented on #278
I am bundling my client code, but I don't bundle this module.  I do cache my dependencies, including this module, with `deno cache --unstable deps.ts` before running my server with `deno run --allow-env --allow-read --allow-net --unstable  main.tsx`.  The error is thrown when I run the server, not when I cache the deps.

[2021-04-23 01:52] sharonjl opened #281 "TS2315 [ERROR]: Type 'Conn' is not generic."
Running into this error with deno 1.9.1 and postgres 0.11.1

Not doing much, just importing the module gives this error.

[code]

[2021-04-23 13:22] scav commented on #281
This happens when you upgrade from 1.9.0 -> 1.9.1, as we just discovered upgrading.

[2021-04-23 14:00] sharonjl commented on #281
Just noticed this here. https://github.com/denodrivers/postgres/issues/280

[2021-04-23 21:58] TravisFrankMTG commented on #278
Update - after switching my frontend from TS -> JS, I am no longer encountering this error.  Curious why this change would result in this behavior, as I cannot tell why changes in the client code would affect my server when compiling, but heh, there ya go.  @Soremwar feel free to close, but would love to hear what prompted you to ask about bundling.  Thanks!

[2021-04-23 22:55] Soremwar commented on #278
@TravisFrankMTG Sorry for the slow response, and the reason I asked if you were bundling your code is because there was a chance this was related to Deno's bundling, I have constructor overloads in my code, and those should be removed when transpiling from TS to JS, but your error made me think that they were not

Can you elaborate further on this? If you are bundling code that uses this library,

[2021-04-26 14:12] eveningkid commented on #281
@Soremwar since #280 has been closed, could you please update this current issue here and let us know when `0.11.2` is available?

It is raising an issue with denodb and I would love to know as soon as the patch is released.

Thanks for your help, we'll be patient :)

[2021-04-28 08:39] halvardssm commented on #281
I added a PR with a fix 💪🏻 #282

[2021-04-28 18:35] #281 closed

[2021-04-29 11:07] avihavai commented on #278
A quick note on fixing this; the problem seems to disappear when you switch to e.g. debian-deno. I wonder if this is related to https://github.com/hayd/deno-docker/issues/113.

[2021-05-03 02:41] borsemayur2 opened #283 ""no pg_hba.conf entry for host ... SSL off " error for heroku database"
`url=postgres://user:pass@host:port/db?sslmode=require`

[code]

[2021-05-03 03:02] Soremwar commented on #283
This issue sadly, means that you won't be able to connect to Heroku using TLS

Deno validates all certificates used to start a connection, and if (and I inspect this is the case here), the certificate is self signed or signed by an untrusted entity it will be discarded

Closing as "won't fix" because this is something that has to be addressed by the Deno development team, more info here https://gi

[2021-05-03 03:02] #283 closed

[2021-05-03 11:16] jfedyczak opened #284 "Custom CA cert"
I'm trying to connect to DigitalOcean-hosted postgres from linux box (also DO-hosted). While connecting from CLI using psql works fine using TLS, deno can't connect, reporting:

[code]

I tried supplying DO cert file using `--cert <file.pem>` param, I tried installing the cert system-wide. I tried extracting the cert from Postgres server using openssl s_connect. No success. Can anyone help?

Using

[2021-05-03 16:53] Soremwar commented on #284
Hi there @jfedyczak .

Sadly I have tried this myself many times without success, it seems Deno's defaults are way to strict to bypass this behavior. Only advise I can give you right now is to connect without TLS for the time being, unless you are willing to get a trusted TLS certificate

[2021-05-03 18:25] jfedyczak commented on #284
@Soremwar Thanks for prompt reply. Unfortunately not an option in Digital Ocean.

[2021-05-03 21:47] jfedyczak commented on #284
Maybe this will help someone. I put pgbouncer on the same machine between the app and the database, so connections from Deno to pgbouncer are unencrypted, but pgbouncer uses TLS to connect to real database server.

[2021-05-09 18:22] organic-software commented on #284
I'm encountering the same error with a postgres server on the same box.

Are there any other workarounds or specific changes needed from Deno side? If TLS doesn't work, it seems like a hard blocker towards using this for anything.

[2021-05-09 19:04] Soremwar commented on #284
TLS works perfectly @organic-software , unsafe TLS is the thing that you are currently locked up from using. By that point you are better off not using TLS at all

[2021-05-09 19:33] jfedyczak commented on #284
Actually Deno is more picky than `psql` in that matter. In Deno I have this problem with certificate that is perfectly fine for `psql` CLI tool.

[2021-05-20 09:50] cryptogohan opened #285 "Fields are case-insensitive"
Didn't find an issue so I thought I'd open this one to discuss.

Using the fields prop on the queryObject method the returned fields are case-insensitive. Not only is JavaScript case sensitive, camelCase is the default. That means if I have an interface like so:
[code]
I can't actually use the, otherwise very useful!, fields functionality. Is there a way we could support mapping column names to ob

[2021-05-20 10:01] cryptogohan commented on #285
Hmmm perhaps good to add what I considered, something like this:
[code]

Or I'm considering using this helper:
[code]

Which you could then use like so: `rowToObject(row, ["firstName", "age"])`. It'd be nice in my use-case to improve this situation (:

[2021-05-21 08:19] al6x commented on #254
+1 it breaks the logs and looks ugly

[2021-05-21 09:06] al6x commented on #254
If you need a quick fix

[code]

[2021-05-21 11:03] cryptogohan commented on #284
@Soremwar I came here from asking the Deno people about [adding custom CA certs at runtime](https://github.com/denoland/deno/issues/10735) and it appears there is an option in [Deno.startTls](), it's already being used [here](https://github.com/denodrivers/postgres/blob/master/connection/connection.ts#L266), forking and seeing if passing a cert would resolve my issues! I can spare a bit of time fo

[2021-05-21 11:07] cryptogohan commented on #284
Mmm, for others reading along, Digital Ocean just started working fine when I changed from using a connection string (that has a required SSL bit) to using the individual environment parameters. No clue why.

My issue is solved so I'll hold off on forking and adding a connection option that lets you pass a CA cert to `Deno.startTls` but that appears to be a solution. I'd still love to have the opt

[2021-05-21 20:40] cryptogohan commented on #284
Alright, ended up going way down the rabbit hole, added a cert option. Sadly something still goes wrong. Spent hours trying to make progress but no. Seems you'd need an intimate understanding of the connection negotiation between pg and Deno. Hopefully, some form of treat-unsafe-domain-as-safe flag lands soon, or someone writes or updates a driver to work with a passed cert file.

[2021-05-23 16:27] al6x opened #286 "Deleted, please ignore"
Deleted, please ignore

[2021-05-23 17:15] #286 closed

[2021-05-27 08:45] eeve commented on #278
https://github.com/denodrivers/postgres/blob/master/query/query.ts#L216
https://github.com/denodrivers/postgres/blob/master/query/query.ts#L218
https://github.com/denodrivers/postgres/blob/master/query/query.ts#L219

The error points to these codes，Multiple constructors exist

[2021-05-29 22:47] Soremwar commented on #278
@eeve Those are constructor overloads, they are legal syntax

[2021-05-29 22:47] #278 closed

[2021-06-01 01:41] voltrevo opened #289 "Non-tls connections broken by deno 1.10 release"
On deno 1.9.2, when starting a non-tls connection, I get this output:

[code]

On deno 1.10.1, it changes to:

[code]

In my investigation, it appears that deno 1.10.1 changes the behaviour of `Deno.startTls` so that it no longer throws here:

[code]
https://github.com/denodrivers/postgres/blob/5b40f16/connection/connection.ts#L266

Instead it throws when actually using the connection for the firs

[2021-06-02 16:19] Soremwar commented on #285
Closed by #287

[2021-06-02 16:19] #285 closed

[2021-06-02 17:26] cryptogohan commented on #285
@Soremwar nice to see the update! this improves things somewhat. However, the default for fields in most SQL databases is snake_case. That still means I need to write the above boilerplate to go from my database column names to JS objects.

I was more thinking of an option that says "please convert snake_case to camelCase" which is rather straightforward but does save a lot of boilerplate I imagin

[2021-06-02 17:31] Soremwar commented on #285
Postgres will attempt to convert to lowercase your fields when it can, however there is an easy way to work around that

`SELECT MY_FIELD FROM MY_TABLE` will result in `{ my_field: something }`
`SELECT "myField" FROM MY_TABLE` will result in `{ myField: something }`

It's all a matter of playing with the SQL syntax

[2021-06-02 17:47] cryptogohan commented on #285
@Soremwar I understand. What I'm saying is I'd like to follow the convention on the JavaScript-side, camelCase, and I'd like to follow the convention on the SQL-side snake_case but perhaps that's not strictly for the driver to provide. Happy to use a different module.

[2021-06-02 17:51] Soremwar commented on #285
Wait so what you want is this?

[code]

This will have MY_FIELD casted to myField on the master version of deno-postgres

[2021-06-02 18:11] cryptogohan commented on #285
ooooh, I must've overlooked this in the docs or code, yea that's perfect @Soremwar , thanks!

[2021-06-02 18:15] Soremwar commented on #285
@cryptogohan https://deno-postgres.com/#/?id=object-query

A lot of people don't know about this docs, so I'm just linking them here

[2021-06-03 15:00] cryptogohan commented on #289
Had to switch to AWS, now running into this myself. Solved it in my case by turning SSL off entirely on the RDS DB.

How about an option that forces SSL on or off? I believe currently there is "force on" only where the client still attempts to upgrade the connection. Or, if people don't like that, at least an option that forces SSL off?

[2021-06-03 16:19] Soremwar commented on #289
@cryptogohan The only reason why users would want to switch TLS off from the driver is if they would wan't to connect to a server with an invalid certificate without having to use TLS. However, there is a miriad of problems that can arise from having a server with a non-secure connection access, so I just prefer to warn the users about this whenever possible

The usual behavior of the driver is to

[2021-06-05 16:29] Soremwar commented on #276
This issue went totally over my head

Yes, I will correct the docs to reflect that, thanks for the heads up!

As of now, it won't, and I don't have a clear path to implement that functionality, but I'm aware this is a problem that needs to be addressed

[2021-06-06 02:46] #289 closed

[2021-06-06 15:38] al6x commented on #276
I implemented re-connection (and also lazy-connenction) in my wrapper, see the `withConnection` method https://github.com/al6x/deno/blob/main/db/db.ts#L155 . Basically if there's any DB error it kills the current pool with all the connections, and will re-connect on the next request.

[2021-06-07 18:59] Soremwar opened #292 "Add reconnection option on client initialization"
Provide an option to allow the driver to reconnect on a broken connection and a time interval to attempt said reconnection

#276 for reference

[2021-06-07 23:41] Soremwar opened #293 "Rename Pool.connect to getClient or similar"
A better name for `Pool.prototype.connect` that reflects what the pool is actually doing, returning a client for use, and not actually creating any connection

[2021-06-08 03:25] Soremwar opened #295 "Test documentation"
Use `deno test --docs` in the CI checks

[2021-06-08 17:42] cryptogohan commented on #149
Hé, just ran into needing this. Anything I can do to help push it forward? (:

[2021-06-08 17:47] Soremwar commented on #149
@cryptogohan I love your enthusiasm man

There is an open PR of like a year ago, where it uses https://doc.deno.land/builtin/unstable#Deno.connect using the socket and unix connection type to achieve the connection, so it should be relatively easy to do, if the original PR was indeed going in the right direction

I don't know anything about sockets, so I was delaying it until I had learned how the

[2021-06-08 17:50] cryptogohan commented on #149
@Soremwar hehe, great! I'll try and take a look soon.

Thanks for adding you actually appreciate the enthusiasm haha, I was starting to worry if I was bothering you too much with all this issues activity 😅 .

[2021-06-08 17:54] Soremwar commented on #149
@cryptogohan No man, you actually drew my attention to this project yet again. I've been kinda neglecting it for the last couple of weeks but your comments have made me realize how important this is and to stablish a more clear roadmap about what to do to make it better

[2021-06-22 16:03] cryptogohan opened #305 "Introduce a transpile safe check"
v. weird error. When using `Deno run` with `--no-check` it suddenly _doesn't_ run anymore.

[code]

All I could find was this issue:
https://github.com/MikaelPorttila/rss/issues/23
https://github.com/denoland/deno/issues/10684

Any idea what's going wrong?

[2021-06-22 18:08] Soremwar commented on #305
As suggested by Kitsonk, this is likely cause by bad imports/exports in the library internals. I will probably introduce a CI step to typecheck and test (with no type check) separately

[2021-07-19 09:06] benkeil opened #307 "Error when running the code from docs"
[code]

[2021-07-29 16:13] lucacasonato opened #310 "Option to automatically turn snake_case columns in a query response into camelCase fields"
`deno lint` mandates camelCase for objects because this fits more naturally into the language and platform standard library (eg `Response.bodyUsed`, not `Response.body_used`). Most sql tables however use camel_case for naming.

Usage example:

[code]

[code]

I think this could be an option on the connection itself.

[2021-08-11 03:10] coreybutler opened #312 "Invalid EXPLAIN results"
It appears the `EXPLAIN` command isn't parsing/processing results correctly.

Consider the following statement executed in DBeaver:

![image](https://user-images.githubusercontent.com/770982/128963189-4e53c543-4fc8-4307-871b-da835bf3f793.png)

Now consider the same thing in Deno-Postgres:

[code]

![image](https://user-images.githubusercontent.com/770982/128963419-91e4d82a-0a7c-47fe-a2b6-d5f53d069

[2021-08-16 22:06] Soremwar commented on #307
You are using a very outdated version of deno-postgres, please tag your versions when importing like this:

`https://deno.land/x/postgres@v0.11.3/connection.ts`

[2021-08-16 22:06] #307 closed

[2021-08-16 23:53] #292 closed

[2021-08-16 23:55] Soremwar opened #314 "Add reconnection millisecond interval option"
Add an interval parameter in the connection options to indicate how often should the client connect

Optionally, make the parameter be a function that returns a number (useful to increase intervals between attempts)

[2021-08-17 00:03] #276 closed

[2021-08-19 21:50] TriForMine opened #316 "Array parsing is broken with varchar array containing a separator"
Apparently when you have a varchar array: `varchar(255) []`, and that a value of that array contains a comma or semilicon.
Inserting works perfectly fine, but when you want to SELECT those values, data will be incorrectly splitted.

Examples:
1.
[code]
Will return
[code]

2.
[code]
Will return
[code]

3.
[code]

Will return
[code]

[2021-09-26 09:02] malj opened #319 "Prepared statement error in transactions"
- deno-postgres `0.12.0`
- deno `1.14.0`
- psql `12.8`
- ubuntu `20.04.1` (WSL2)

## Problem

Invalid prepared statements fail in transactions with an unexpected generic error `Unexpected frame: Z`, and client doesn't get unlocked.

## Expectation

Return `PostgresError` (as would an equivalent query outside of transaction) or `TransactionError` instead of the generic error, and unlock the client.

[2021-09-26 18:48] Soremwar commented on #319
Thank you @malj, that specific test case finally made me locate the cause of this bug that had been driving me crazy. Already patched

[2021-09-26 18:51] #319 closed

[2021-09-27 07:24] malj opened #322 "Prepared statement error in multiple queries"
- deno-postgres `0.12.0` (also after #321)
- deno `1.14.0`
- psql `12.8`
- ubuntu `20.04.1` (WSL2)

## Problem

Executing multiple invalid prepared statements using the same connection throws an unexpected error `Error: Unexpected frame: Z` after the first attempt, and breaks the connection.

## Expectation

Throw `PostgresError` every time, and recover the connection for other queries.

## Exampl

[2021-09-27 07:25] malj commented on #319
Hi @Soremwar, thank you for such a quick response! I've tested the patched version and the transaction issue seems to be fixed.

However, I think I've run across a similar issue when executing multiple invalid prepared statements outside of transactions. I've created a new issue for it: #322

[2021-09-27 15:06] Soremwar commented on #322
@malj You are not gonna get the latest changes by using a tagged version, you need to pull from master
This is the latest passing commit `https://raw.githubusercontent.com/denodrivers/postgres/235d57568bd3a49c353a988918d06077197e9044/mod.ts`

[2021-09-27 15:54] malj commented on #322
@Soremwar I know, I pulled the changes directly from the main branch after you've merged the PR, but the results are the same. I used the tagged version in the example for clarity, since this is a new issue.

[2021-09-27 19:48] Soremwar commented on #322
After digging a lot into the Postgres spec I finally found the reason of the failure, and why the previous patch only worked on simple queries and not prepared ones. Thanks for the report @malj !

[2021-09-27 19:51] #322 closed

[2021-09-27 20:38] #316 closed

[2021-09-27 20:47] Soremwar commented on #312
Hello there @coreybutler. I'm testing with the latest driver version `https://raw.githubusercontent.com/denodrivers/postgres/72f523cb9d8f863204a3fa02f52d534e7ce30ccf/mod.ts` and I can't seem to be able to replicate this problem

I believe this had to do with the way I was evaluating arrays when coming as a response from Postgres, which was recently refactored

Try and see if you can replicate loca

[2021-09-28 07:54] malj commented on #322
@Soremwar I've just tested the changes, everything seems to work as expected now. Thanks for your time and very quick responses!

[2021-09-28 10:10] iugo opened #325 "query text array return value be added `,`"
If a string contains a semicolon and a comma, there will be a problem.

text array value: `{"a:b/c;d,e","1,b,2"}`

should return `["a:b/c;d,e","1,b,2"]` but `["a:b/c;d,e",",1,b,2"]`

code:

https://www.typescriptlang.org/play?#code/PTAECEEMGcFMBNQHsBmoAWAXTAHaAuEAcwEtN0BXAIwDoBjJAW2CtgDt4AnCuga1k7AcSaJiKdY0ALSROnSAE8AUCFABhJDgWcSRLKAAUdAJQR2oACLc+A0AB4qANy49+nAAJFGkEgBt6TAB8hqwc1m40jLDGNKAAsgCSACq

[2021-09-28 14:07] Soremwar commented on #325
I see your issue is based in 0.12.0 and not in main

Check #316 for more details, and try again while pulling from main. Closing in the meanwhile

[2021-09-28 14:07] #325 closed

[2021-09-28 15:59] coreybutler commented on #312
In a simple demo, I also cannot recreate the problem. However; I have a class with a function that executes a serializable transaction. When executing the exact same code from that class, there are missing results. I'll keep hunting today and post my findings when I narrow down the problem.

[2021-09-28 16:43] coreybutler commented on #312
I found the issue, and it isn't related to this library. In my case, the query results are written to `stdout` as part of an error/informational message in a unit testing suite. The suite produces TAP output. The raw TAP output displays the results correctly:

![image](https://user-images.githubusercontent.com/770982/135129123-38b9811b-6b1c-4ce8-98aa-fc6ce7fda655.png)

However; displaying pretty r

[2021-09-28 16:43] #312 closed

[2021-09-28 22:15] #284 closed

[2021-09-28 22:18] lucacasonato commented on #314
Yeah - exponential backoff would be fantastic.

[2021-09-28 22:30] lucacasonato commented on #250
Partially done now. At least server TLS is now tested. Still missing client TLS.

[2021-09-28 22:39] Soremwar opened #326 "Generate testing certificates as part of the docker database initialization"
My only concern with #308 is that the current testing workflow requires the contributors to manually run a script to generate the required certificates, instead of abstracting away that configuration as part of the normal docker initialization

This might require stepping away from using the official docker image of postgres and building one of our own due to the following reasons:
- We require th

[2021-09-28 22:40] Soremwar opened #327 "Add certificate based authentication"

[2021-09-28 22:41] Soremwar commented on #250
I just opened an issue for that #327. Still don't know how to tackle that though

[2021-09-28 22:48] lucacasonato commented on #326
This only needs to be run once a year and then the results can be checked into the repo, so should not impact any contributors.

[2021-09-28 22:49] Soremwar commented on #326
I understand that, but I'd rather have it automated if possible

[2021-09-29 05:20] #250 closed

[2021-09-29 05:59] Soremwar commented on #148
Closing due to inactivity

[2021-09-29 05:59] #148 closed

[2021-09-29 06:00] Soremwar commented on #162
Closing due to inactivity

[2021-09-29 06:00] #162 closed

[2021-09-29 06:02] Soremwar commented on #191
Closing as duplicate

[2021-09-29 06:02] #191 closed

[2021-09-29 06:03] Soremwar commented on #184
Before 1.0, all types that must be parsed as something other than a string must be scratched from this list

[2021-09-29 06:05] #214 closed

[2021-09-29 06:10] Soremwar commented on #257
Closing due to inactivity

[2021-09-29 06:10] #257 closed

[2021-09-29 06:16] Soremwar commented on #82
It's almost a year now since I started mantaining `deno_postgres`, so I wanted to give an update on the project status and what has changed since this issue was opened:

- Features and bug fixes have been somewhat constant, major releases take place within one or two months of difference and they are usually substantial. However many requested features are still pending and it's gonna take a while

[2021-09-29 06:17] #82 closed

[2021-09-29 08:56] iugo opened #332 "[docs] .release() should be await?"
https://github.com/denodrivers/postgres/blame/e483c80e0c55b001f3d1c497b1517b82166a2301/docs/README.md#L339-L350

`client_1.release();` or `await client_2.release();`?

---

https://github.com/denodrivers/postgres/blame/e483c80e0c55b001f3d1c497b1517b82166a2301/docs/README.md#L362-L368

`result` only in `try` block.

[2021-09-30 02:25] Soremwar commented on #332
No, actually by the signature you can see that `pool_client.release` is a sync function, so there is no need for awaiting it

[2021-09-30 02:31] #332 closed

[2021-09-30 04:50] biluohc opened #335 "set TIME ZONE 'HongKong'; got Error: Unexpected frame: S"
deno 1.14.2
PostgreSQL 12.3
macos x86-64 11.6

`client.queryArray("set TIME ZONE 'HongKong';")` or `client.queryObject("set TIME ZONE 'HongKong';")`

[code]

[2021-10-03 16:52] Soremwar commented on #335
Thanks for the report @biluohc. Just patched

[2021-10-03 16:52] #335 closed

[2021-10-03 17:28] biluohc commented on #335
Thank， can you publish a new version?

[2021-10-03 17:32] Soremwar commented on #335
I am amidst a refactor of several internals that I want to land before 1.13. You can use the patched version with this URL `https://raw.githubusercontent.com/denodrivers/postgres/148e75023ad26cd3391f1e284b9b04712c0a38a8/mod.ts` in the meanwhile, works as a tagged version so no surprises

[2021-10-05 03:03] bartlomieju opened #341 "Why is camelcase disabled for "deno lint"?"
As per title, I'm mostly curious as to why this had to happen.

Is something wrong with the rule? Maybe some cases are marked as false positives?

[2021-10-05 03:05] Soremwar commented on #341
Nah, it's because I have my own internal naming convention. Snake case for variables, camel case for functions

[2021-10-05 12:37] bartlomieju commented on #341
Thanks for explanation. I guess this is not something I could convince you to change :))

[2021-10-05 12:37] #341 closed

[2021-10-05 15:33] pantapita commented on #310
#343 new pull request to close this issue

[2021-10-08 07:04] #310 closed

[2021-10-09 08:29] pantapita commented on #223
I have already worked on this because I had problems figuring out which out many parameters is not placed correctly. You can assign this one to me.

[2021-10-14 22:53] exe-dealer opened #344 "uuid_varchar -> uuid_array"
https://github.com/denodrivers/postgres/blob/160608b0617e6dc3dae156a90f099f4022a1a081/query/oid.ts#L131

[2021-10-15 02:40] tv42 commented on #255
I just got stumped by this too.

Could I suggest changing the documentation at https://deno-postgres.com/#/?id=prepared-statement-with-template-strings to emphasize that it's a tagged string literal, and not just backquotes.

I think the way to example code is displayed is absolutely hurting, making the tagged string harder to recognize. Could I recommend rewriting

[code]

as

[code]

[2021-11-08 17:07] Soremwar commented on #326
Just occurred to me I can spin up an http server that returns the generated certificates to me. Works both locally and on CI. Will implement soon

[2021-11-08 17:09] #344 closed

[2021-11-08 17:24] lucacasonato commented on #327
Does this need mTLS (client authentication) for the `startTls` call? That is not yet supported, but should be soon.

[2021-11-08 22:07] Soremwar commented on #327
I honestly don't know. I have to research this behore I can take a shot at it

[2021-11-15 22:07] lucacasonato opened #355 "The server unexpectedly closing a connection bricks a connection pool"
Here is a test case that reproduces the issue:

[code]

While this is an artificial reproduction, I have hit this in the wild for connections to supabase.io servers. They seem to just disconnect after a while, causing the `Pool` in a state where whatever I do, I get one of these two errors (note the stack traces are not correct, because of a Deno Deploy bug):

[code]

[2021-12-03 19:51] tv42 commented on #223
This seems to exist already, with different syntax:

[code]

The docs were confusing to me for a while...

[2021-12-03 20:17] robertvanhoesel commented on #223
@tv42 it's not strictly the same, as you can't pass any options when querying with a template string function but it's definitely a nice and compact way to write queries without mapping any of your existing variables.

Being able to name the params (rather than $1, $2, $..., which  also happens with the template function, it does not read the variable name but rather the expression output) could h

[2021-12-03 21:56] Soremwar commented on #223
Yeah, mi idea for this is providing something like
[code]
for easier understanding of queries and parameter placing

@tv42 What you are using are template queries, I have updated the docs to make it a hella more clear what they do cause the syntax looks very similar but does way different things

[2021-12-04 11:03] pantapita commented on #223
I am using it already in my local fork and it is huge improvement in readability of queries with large number of parameters. But I'm stuck (lack of time and ideas) how to make the query function to automatically detect that this specific query is using named parameters...

(I'm now using a workaround - with additional switch "named_parameters", but I'm not happy with this kind of solution)

I will

[2021-12-04 17:03] tv42 commented on #223
One interesting gimmick would be for template queries to use the part `${here}` as the variable name for the SQL query.

`${foo+42}` style things could be translated to `foo_42`, and suffixes `_2`, `_3` could be added until the variable name was unique.

[2021-12-04 17:21] robertvanhoesel commented on #223
@tv42 it's a nice idea but you can't get to the "holes" in a template literal. These things are called tagged templates and only give you the strings surrounding the variables, and the expression output, not the expression itself.

@pantapita what you mean detecting? The `... $1...` vs `.. $myvar` is a distinct syntax you can check for presence using i.e. regex. Better yet, when `queryArray(...)`

[2021-12-04 17:58] pantapita commented on #223
actually you are right, it is sufficient to check for the first argument, if it's not numeric, conclusion is that query is named, thanks.
(was boiling some tedious checks which were way too complex for this simple purpose)

[2021-12-05 10:30] cfjello opened #356 "Deno Postgres driver exits silently"
I have written a small example, see below, that shows the problem, at least on my configuration:

- PostgreSQL v12.3 on CloudClusters configured to1500 connections
- deno 1.16.4
- postgres driver: postgres@v0.14.2
- deno std@0.114.0
- vscode Deno language server client v3.9.2
- vscode deno-vscode v0.0..8
- tsc  4.5.2

Output from the test program below:

Here the program silently exits.
This probl

[2021-12-06 10:23] cfjello commented on #356
I downgraded Deno using:  deno upgrade --version 1.3.0,  and now the test program works and runs without exiting. So whatever problem this is, it is introduced by Deno - but it still leaves the issue of capturing the Error.

[2021-12-06 12:33] qm3ster opened #357 "Easy to be insecure by accident."
It seems trivial that someone, especially unfamiliar with tagged template strings might write
[code]
where they were supposed to write
[code]
causing the arguments not to be escaped.

Perhaps it would be better to error or at least warn when `query_template_or_config === "string"` but `args.length === 0`.
This means that all static statements can still be passed as
[code]
and dynamically-loaded ar

[2021-12-06 15:09] Soremwar commented on #357
Problem with this is that template strings without arguments are a valid statement you can execute (in fact one that I use widely across `deno-postgres` codebase)

This is a known problem when working with template strings, one that is extensively covered in the [docs](https://deno-postgres.com/#/?id=regarding-non-argument-parameters), however there is no practical solution that I know of to solve

[2021-12-06 15:09] #357 closed

[2021-12-07 15:12] pantapita commented on #223
[https://github.com/denodrivers/postgres/pull/358](url)

[2021-12-07 23:21] Soremwar opened #359 "queryArray/queryObject to execute cached prepared statements"
With the following API:

[code]

Would run the above insert three times, through an option in the queryX method to determine if the arguments should be an array of arguments

After working with Python's `mysql-connector` it was very apparent how much of a necessity this is for big queries

[2021-12-08 00:07] Soremwar commented on #357
This is pre 1.0. We don't deprecate things here, we just remove them :laughing:

The following is a request that people often get wrong cause they don't understand how the template string system works, nevertheless is a very common one

[code]

Writing this is with the syntax A would break this query because qualifiers and keywords can't be provided as an argument in a prepared statement. The alte

[2021-12-08 10:20] qm3ster commented on #357
[code]
I understand if this is too high friction, but my concern was the following scenario:
1. there's a parametrized tagged template call
1. it works
1. there's a refactor where it's put in parentheses (randomly, or for example replaced with a ternary/map)
1. it still works, no one suspects a thing
1. hax

Where can I read about what is planned for named parameters?

[2021-12-18 16:45] Soremwar commented on #357
[code]
No, the second one would do nothing. What I mean is that the first one would either throw because no placeholders are found or replace something that looks like a placeholder

Pretty much

https://github.com/denodrivers/postgres/issues/223

I haven't settled on a syntax yet, and I'm worried we might handicap ourselves here

[2022-01-01 18:29] a3bd2lra7man opened #361 "PostgresError: column "admin" does not exist which admin is a table name"
as Deno have trust in you and put you as the first choice to develop a database app
so I choose you but I got a really strong error
the exception says that column "admin" does not exist which I add admin as table name in my query

here the query code
await client.queryArray(`INSERT INTO admin (name,account,password) VALUES (${admin.name},${admin.account},${admin.password});`);

the full code is he

[2022-01-01 18:31] a3bd2lra7man commented on #361
this is the exception

PostgresError: column "admin" does not exist
    at Connection.#simpleQuery (https://deno.land/x/postgres@v0.14.2/connection/connection.ts:626:19)
    at async Connection.query (https://deno.land/x/postgres@v0.14.2/connection/connection.ts:875:16)

[2022-01-01 19:07] Soremwar commented on #361
If the syntax is just as you described, the error lies within the syntax you are using to execute the query

Let's say admin is the following object
[code]

The code above will execute the query as the following:
[code]

Problem is, the code above is invalid since strings need to be wrapped in single quotes in order to be interpreted as such. It can be fixed by using any of the following syntaxis.

[2022-01-01 19:14] a3bd2lra7man commented on #361
@Soremwar
Thanks it was my mistake

[2022-01-01 19:14] #361 closed

[2022-01-07 15:27] Soremwar opened #364 "1.0 API discussion"

[2022-01-07 15:40] Soremwar commented on #364
# queryArray/queryObject

- [ ] Remove `query*(sql, ...params)` overload. Parameters must be provided as an object or as an array instead of relying on rest syntax

[2022-01-07 15:43] Soremwar commented on #364
# Client derivates
- [ ] applicationName -> application_name
- [ ] tls.caCertificates -> ca_certificates

[2022-01-07 15:49] Soremwar commented on #356
Quite possibly caused by https://bugs.chromium.org/p/v8/issues/detail?id=12444&q=Type%3D%22Bug%22

Will be fixed upstream once V8 releases a new version and Deno upgrades. However since this is a panic there is no way to catching that on the program's end in the meanwhile

I'll leave this issue open in the meanwhile

[2022-01-07 17:52] #355 closed

[2022-01-07 18:41] Soremwar commented on #364
# Pool
- [ ] Pool options should be passed as an object, instead of additional arguments

[2022-01-08 23:53] bartlomieju commented on #305
@Soremwar if this is still happening in `--no-check` mode then it's a big red flag that something is broken in Deno's transpilation pipeline. I think we could easily verify this in CI, but running a parallel step with `--no-check` argument, WDYT?

[2022-01-11 14:20] gaboroa14 opened #366 "error [ERROR]: Property 'deriveKey' does not exist on type 'SubtleCrypto' on v0.14.3"
After updating to v0.14.3, my deno app crashed. After looking at logs, I saw this error message:

I had to downgrade to v0.14.2 to get my app up and running back again.

[2022-01-11 16:37] Soremwar commented on #305
@bartlomieju I wonder if we can match these results by running `deno test --no-check`

I'll introduce a no check step right away, should be a good way to keep track of SWC problems

[2022-01-11 16:39] Soremwar commented on #366
0.14.3 removed a dependency in std/hash by using the WebCrypto API (See #362)

This version requires at least Deno 1.16.0 however, as intidicated here https://github.com/denodrivers/postgres#deno-compatibility

[2022-01-11 16:39] #366 closed

[2022-01-11 16:40] bartlomieju commented on #305
I'm not sure what you mean here @Soremwar?

[2022-01-11 16:41] Soremwar commented on #305
The code that is breaking is running through `deno run --no-check`, so I'm not sure `deno test --no-check` will yield the same results

[2022-01-11 17:58] Soremwar commented on #295
Closed by #367

[2022-01-11 17:58] #295 closed

[2022-01-11 22:04] #305 closed

[2022-01-11 22:04] Soremwar commented on #305
### End result:

No-check failure is not gonna be terminal, however it will produce the following output that should make it easy to file an issue in Deno

![image](https://user-images.githubusercontent.com/42647963/149027795-c2ae1144-e57c-4ad5-b3de-535a14c7c9e3.png)

Right now, `deno-postgres` should be no-check safe when running through `deno test --no-check` under Deno 1.16.0

[2022-01-12 17:41] Soremwar opened #372 "Handle no password login"

[2022-01-13 19:47] Soremwar commented on #359
Unfortunately, Postgres message protocol doesn't offer any way to solve this problem. This is probably a better fit for a library that builds on top of Deno postgres and transforms the SQL to adecuate for this purpose

[2022-01-13 19:47] #359 closed

[2022-01-13 19:50] Soremwar commented on #356
@cfjello This will be fixed once Deno 1.18.0 is released https://github.com/denoland/deno/issues/12940#issuecomment-1012342399

[2022-01-13 19:51] #293 closed

[2022-01-13 21:31] #149 closed

[2022-01-13 21:33] #209 closed

[2022-01-13 22:08] Soremwar commented on #149
Stabilization pending on https://github.com/denoland/deno/issues/13360

[2022-01-14 18:06] Soremwar commented on #364
# QueryResult
- [ ] rowCount -> affectedRows
- [ ] affectedRows is always set
- [ ] command must be a union type, not string

[2022-01-14 21:45] #223 closed

[2022-01-15 00:25] Soremwar commented on #217
This is implemented already

[2022-01-15 00:25] #217 closed

[2022-01-23 08:29] cfjello commented on #356
@Soremwar

I have now installed Deno 1.18.0 and can verify, that my test program now runs without any problem. Thanks for your help!

[2022-02-01 12:08] dragonwocky opened #376 "invalid peer certificate: UnsupportedCertVersion"
I'm not entirely sure where the fault here lies, but I'm having problems connecting to a database over TLS with deno-postgres.

I've put together this code to connect to the database based off the example in the docs (https://deno-postgres.com/#/?id=ssltls-connection):

[code]

The `postgres.crt` file is an SSL certificate downloaded from within the database's Supabase dashboard:

![image](https:/

[2022-02-12 08:32] slim-hmidi opened #377 "Uncaught (in promise) ConnectionRefused: Connection refused (os error 111)"
I created an app and I upload a tarball inside a platform using google container registry.
Dockerfile:
[code]
script.sh:
[code]

dbConfig.ts:
[code]
When the container was executed, I got this issue:
[code]
  How can I fix that?

[2022-02-15 01:12] iugo commented on #355
@Soremwar same error with postgres@v0.15.0:

[code]

[2022-02-16 00:12] Soremwar commented on #376
Deno is extremely strict regarding TLS connections, if your certificate

To skip this, you can run Deno with the --unsafely-ignore-certificate-errors flag( https://deno.com/blog/v1.13#disable-tls-)verification

This will allow you to run TLS with non-compliant certificates (even though you really shouldn't)

The fault relies on your database providers, and I hope this problem gets solved eventuall

[2022-02-16 00:12] #376 closed

[2022-02-16 00:15] #356 closed

[2022-02-16 00:16] dragonwocky commented on #376
I see. Is there any way to whitelist that specific certificate? (That's what I had understood the point of the `tls: { caCertificates: [cert] }` to be.)
I would rather not completely disable certificate checking.

[2022-02-16 00:18] Soremwar commented on #376
The point of `caCertificates` is to add a certificate authority to your certificate store. This works if your certificate is self signed, because it tells Deno that the authority for that certificate is indeed trusted

The problem with your certificate is a different one however (`UnsupportedCertVersion`) so Deno can't add it to the list of trusted authorities

[2022-02-16 00:20] Soremwar commented on #355
@iugo Are you experiencing this problem with the reproduction that lucacasonato provided?

[2022-02-16 00:53] Soremwar commented on #377
I'm sure this is a problem with your setup, not with the library itself. Respectfully closing

That said, it's likely your program is running before the database has actually finished initializing. Tt can take up to a minute, but docker won't wait for the database to finish this process before starting your app. I recommend you read about https://github.com/ufoscout/docker-compose-wait

[2022-02-16 00:53] #377 closed

[2022-02-18 06:37] iugo commented on #355
I encountered this problem in a new project I was using.

Whenever I was idle for a period of time, I would get an error when connecting again.

My current solution is, `await pool.end()` after the error occurs.

[2022-02-19 04:06] baoshan opened #378 "Concurrent connect-then-release cycles break the pool"
Below code:
[code]

Throws an exception:
[code]

Please let me know if this is expected and if a PR is welcomed.

[2022-02-21 09:45] baoshan opened #379 "Inconsistency between `client.queryArray` and `transaction.queryArray`"
These two interfaces differ in treating the arguments. To be specific:

[`transaction.ts`](https://github.com/denodrivers/postgres/blob/b68d3ebfd1a5805050f12e74ddaa4df3185bb86f/query/transaction.ts#L400)
[code]

[`client.ts`]()
[code]

I guest the latter is expected. Can the inconsistency be permanently avoided by removing the duplicated logic?

[2022-02-21 14:16] Soremwar commented on #379
Thank you for your report, I can confirm I messed up

I will submit a fix soon

[2022-02-21 14:19] Soremwar commented on #378
I would expect this to work, I'll look into it. PRs are always welcome

[2022-03-03 05:01] surprisetalk opened #380 "Implement `transaction.end()`"
The following example is listed in [the official docs](https://deno-postgres.com/#/?id=transactions):
[code]

It's in the docs, but doesn't seem to exist in the code.

Without `.end()`, we can't reuse connections, which is pretty important for many applications:
[code]

If the intended design is to reconnect to the pool, maybe we should update the docs?

[2022-03-03 05:08] Soremwar commented on #380
There is indeed a mistake in the docs making a mention of an end method which doesn't exist, however you don't need to look for a close method in order to close a transaction

The `commit` method will take care of closing the transaction and releasing the client per https://doc.deno.land/https://deno.land/x/postgres@v0.15.0/mod.ts/~/Transaction#commit and the docs (unless the commit is specified t

[2022-03-03 06:28] iugo commented on #242
Same error:

[code]

[2022-03-19 12:21] iugo commented on #364
- rowCount -> affectedRows +1
- affectedRows is always set +1

[2022-04-14 09:21] iugo opened #385 "when a transaction is interrupted, Pool error BadResource: Bad resource ID"
Use the following code to test, there is a certain probability of problems. (使用以下代码测试, 有一定概率出现问题)

[code]

The error info is: (出现的错误为)

[code]

This problem does not occur if `catch (err) {
      await t.rollback();
      throw err;
    }` is done in the above code.

[2022-04-14 16:59] #379 closed

[2022-04-14 17:03] #380 closed

[2022-04-27 04:21] baoshan opened #392 "Unnecessary warning: there is no transaction in progress"
When `commit`ting a transaction, certain errors (e.g., serialization errors) may be [cached](https://github.com/denodrivers/postgres/blob/28c421a6d3d68dcacf5b2c05b31dfb18608db9e0/query/transaction.ts#L414) by `postgres` driver. In the catch clause, `postgres` issues another `commit`. Issuing COMMIT when not inside a transaction does no harm, but it will [provoke a warning message](https://www.post

[2022-05-01 05:40] divmgl commented on #223
https://github.com/denodrivers/postgres/issues/223#issuecomment-985786324

This is unsafe and prone to SQL injection.

[2022-05-05 03:14] Soremwar commented on #223
@divmgl I don't follow, how is it unsafe?

[2022-05-05 03:16] divmgl commented on #223
Forgive me, I was wrong. The `${}` syntax made it look like a regular interpolated string but I realize now it's a templated function.

[2022-05-05 03:17] Soremwar commented on #223
@divmgl Oh, haha you scared me for a moment

[2022-05-12 20:43] Soremwar commented on #392
A system I'm yet to implement is the logging system in the driver. There are many more warnings than just this one, ideally they could all be muted together since their purpose is for debugging only

I don't think the solution to this is to add another method on the commit function though, that much I have clear

[2022-05-13 04:08] baoshan commented on #392
Use a logging system to mute this specific `no transaction in progress` warning is suboptimal because the (unnecessary) `COMMIT` statement adds an extra server round trip, which is probably 20~400ms (a transactional query usually targets the primary cluster in a cross-geo clusters).

I’m leaving this issue open because I think logging is not its root cause. Feel free to close it.

Thanks.

[2022-05-13 18:03] #378 closed

[2022-05-13 18:19] Soremwar commented on #392
You are right, I should hold the state of the transaction to avoid issuing the commit to the database if the transaction has already aborted

However as I said, the solution is not to add another option to the command method

[2022-05-14 07:00] baoshan commented on #392
I’ve updated the PR to track if a transaction has been committed.

This doesn’t handle the situation that the `commit` is not submitted via `transaction.commit()`. Please let me know what do you think.

[2022-05-14 20:38] Soremwar commented on #392
Could you elaborate on this please?

[2022-05-14 23:49] baoshan commented on #392
I mean `transaction.queryArray("COMMIT;")`. Forget about it, that’s an abuse obviously.

[2022-05-15 00:20] Soremwar commented on #392
Closed in #393

[2022-05-15 00:20] #392 closed

[2022-05-17 18:17] Soremwar opened #395 "Support the options argument in database connection"
https://www.postgresql.org/docs/current/runtime-config.html

[2022-05-18 04:54] #395 closed

[2022-05-20 13:09] KyleJune commented on #364
More pool options like the node pg module has would be nice. You might be able to re-use code from here. The pg package uses pg-pool for managing it's pools and has options related to timing out connections and recreating them if they have been connected for a long time.

https://www.npmjs.com/package/pg-pool

[2022-05-26 21:13] Soremwar commented on #385
Can you try with master to see if the error is still happening?

[2022-05-26 21:17] Soremwar opened #398 "Remove verify-ca, require options from tls options"
Deno only really supports the verify-full mode for connections, so it's deceiving to allow people to pass these modes in the connection string

Leaving as an issue in case Deno allows to support a more lenient set of options

[2022-05-26 22:15] #314 closed

[2022-05-31 01:46] KyleJune opened #400 "transaction.queryArray(query, args) call signature broken."
[code]

When I do the following
[code]
I get the following error.
[code]

The error doesn't occur when using client.queryArray. It appears the issue is that the transaction.queryArray function mistakes it for the template string call signature.

A full example can be found in the following PR.
https://github.com/udibo/migrate/pull/5

My "PostgresMigrate apply apply migration queries" test fails bu

[2022-05-31 01:49] KyleJune opened #401 "async functions like queryArray throw instead of reject"
https://github.com/denodrivers/postgres/blob/33ca49d57eb615d2922e781191815c9a963c5796/client.ts#L301

Functions like queryArray that return a promise should reject instead of throwing errors. This could be accomplished by making the functions that return promises async so that they will always either resolve or reject.

[2022-05-31 02:42] Soremwar commented on #401
Oops, little overlook will fix asap

[2022-05-31 02:47] KyleJune commented on #401
Thanks. Also completely understandable, there was actually a bug with assertRejects from std/testing that would cause it to pass for both thrown errors and rejections. That was fixed recently, now it will show if it incorrectly throws when it is expected to reject.

[2022-05-31 02:49] Soremwar commented on #401
Fixed now

[2022-05-31 02:50] #401 closed

[2022-05-31 03:05] KyleJune commented on #400
I've verified this is already fixed on main branch.

[2022-06-02 03:06] dojyorin opened #402 "Error: value not valid for token {month undefined}"
An exception was thrown when trying to get a record for table that contained a `timestamp` type.

[code]

[code]

Converting `timestamp` type to `text` type works fine.

[code]

It is easy if the item you want is one `timestamp` type, but it is very troublesome if multiple types are mixed by specifying "\*".
Since "\*::text" is not possible by specification, all keys must be enumerated and only `t

[2022-06-02 03:20] Soremwar commented on #402
Timestamp can be retrieved when it's in the ISO 8601 format (eg: `1997-12-17 07:37:16-08`)

Perhaps your database date format returns a format that I can't parse with date?

[2022-06-04 22:45] #400 closed

[2022-06-06 06:36] dojyorin commented on #402
Thank you, I solved it!

The cause was that the "DateStyle" in the database was "Redwood" and "SHOW_TIME".

[code]
I doing this when connecting to the database, it works perfectly.

[2022-06-06 06:36] #402 closed

[2022-06-06 08:23] Soremwar commented on #402
You could solve this more efficiently by using the options parameter when initializing the client, there you can set `datestyle` on connection without having to run that query every time you wanna do something with the database

[2022-06-06 16:09] DomThePorcupine opened #403 "PostgresError: unsupported startup parameter: options"
Hi all,

I have a little project that I've been working on intermittently, it was using version `v0.15.0` of the postgres driver and everything has been working great! However when I updated to `v0.16.0` I now get a strange error message:

[code]

Here is the code snippet I used to reproduce the issue (connecting to a supabase instance), it works fine on `v0.15.0` but gives the error message on `v

[2022-06-06 16:45] Soremwar commented on #403
Hi @DomThePorcupine,

Recently support for the `options` parameter was added, but apparently Supabase doesn't support it. I just committed a patch to not pass this option when you haven't supplied any options so with your current setup you'll be just fine

Try the fix with https://raw.githubusercontent.com/Soremwar/deno-postgres/687130ef5e39fc4ba4e2bbf990bdb0a89927b495/mod.ts and confirm that it i

[2022-06-07 03:21] DomThePorcupine commented on #403
Confirmed working!

Thanks so much - sorry for my late reply 😅

[2022-06-07 22:42] #403 closed

[2022-06-07 22:44] Soremwar commented on #403
0.16.1 released with the fix, thanks for the report @DomThePorcupine

[2022-07-21 08:13] imjamesb commented on #254
Any new quick fixes for disabling notices? Really annoying having them show up in my logs. The skipping notices are getting on my nerves to no end.

[2022-08-11 12:48] ChristianSiegert opened #406 "Prepared statements with parameterized IN operator fail"
I have a simple query that looks like this in SQL:
[code]

Using your project I would write it like this:
[code]

But this gives me an error in Postgres:
[code]

How does one write this query?

[2022-08-11 14:29] Soremwar commented on #406
Hi, yeah Postgres won't allow you to use the `IN` operator with an array of data, so you'll have to do the following

[code]

https://stackoverflow.com/questions/10738446/postgresql-select-rows-where-column-array

[2022-08-12 13:24] ChristianSiegert commented on #406
Thank you. On a side note: I think an example like this would be helpful in the documentation because some other SQL libraries do some rewriting and allow `WHERE field IN (?)` which tripped me up here.

[2022-08-12 13:24] #406 closed

[2022-09-18 18:20] vicary opened #408 "[feature] Support streaming of buffer/bytea parameters"
My app manages deep learning models and it's metadata, the models are sized around 50MB - 100MB.

I am using CockroachDB for storage because it has no hard limit on their `BYTES / BYTEA / BLOB` columns, it is handy when the binary data is infrequently accessed. The binary data is for records and statistical study, they are usually written once and rarely read.

I know it is not the best practice o

[2022-09-19 04:31] linhub15 opened #409 "`ConnectionError` - Session terminated by database without notifying the library"
Using a cloud managed DB often terminates sessions without notifying the library. This causes `ConnectionError` because the library was not notified of the cancelled connection.

There is a `TODO` comment mentioned that this will be fixed.

Is there a workaround in the meantime?

[2022-09-20 07:18] linhub15 commented on #409
Would it be wrong to recursively call `Connection.query(...)`?

https://github.com/denodrivers/postgres/blob/8a07131efa17f4a6bcab86fd81407f149de93449/connection/connection.ts#L953-L959

[code]

[2022-09-20 12:41] fuoco-appdev opened #410 "connection_params.ts line 398 on deno v1.25.3"
Not sure what version of deno this repo is on however i'm getting this error when running on v1.25.3
![image](https://user-images.githubusercontent.com/111063963/191259315-2bbf3163-e2f3-41c5-8576-cfd64471f944.png)
![image](https://user-images.githubusercontent.com/111063963/191259443-60cbff43-6b73-4eef-97d6-3132e63d13d8.png)

[2022-09-20 14:12] #410 closed

[2022-09-20 14:12] fuoco-appdev commented on #410
Has to upgrade to deno 1.71

[2022-10-05 07:19] BrunoBernardino commented on #376
Just an update here, I've been talking with Supabase to get this fixed, and they fixed it today! Here's the final message from one of their engineers:

And I can confirm I'm no longer hitting that, and didn't have to replace the certificates.

[2022-10-18 19:58] coreybutler opened #412 "Login failure in Deno 1.26.2"
I have successfully connected with a Pool using Deno 1.25.4. Today I upgraded to Deno 1.26.2, which immediately failed with a bad password. Reverting back to 1.25.x and the connection succeeds again. It looks like something in the 1.26.x branch is causing a basic login failure.

[code]

<img width="1007" alt="image" src="https://user-images.githubusercontent.com/770982/196570149-174dee96-2e30-4896

[2022-10-19 02:10] prettykool commented on #412
I got this same bug, too - Had to downgrade to 1.26.1 to get the client working properly again. I'm guessing something charged with an internal API between versions, but I could be wrong...

[2022-10-19 03:31] #412 closed

[2022-10-19 03:37] Soremwar commented on #412
Published 0.17.0 to fix this

[2022-11-02 11:52] ChristianSiegert opened #415 "TypeError: Cannot read properties of undefined (reading 'push')"
I have received the following error many times now (but cannot reproduce it reliably):

[code]

pool.ts line 191 reads:
[code]

The exclamation mark is code smell because it suppresses a compiler warning. Without it, deno complains `this.#available_connections` `is possibly 'undefined'`. I think this case should be handled properly.

[2022-11-12 12:02] h4l commented on #376
Despite @BrunoBernardino's success, I've been trying to use a Supabase DB with Deno via this library and am getting the same error as @dragonwocky . I've just been investigating what's wrong and I believe I've got to the bottom of it. The CA cert Supabase provide is fine. All the certificates they use in the cert chain are valid, the problem is that the first certificate in their chain is a versio

[2022-11-12 20:09] BrunoBernardino commented on #376
@h4l I haven't created any new Supabase projects recently, but one thing that happened since that I didn't mention here was that I had to open a support ticket and request they fix the certificates for all of my existing projects as well (not just the specific one I made the initial request for), so it seems like a manual thing they do. I did expect them to do it for _new_ projects automatically,

[2022-11-12 20:19] h4l commented on #376
Interesting, thanks @BrunoBernardino . The support person I'm talking to also said they may need to upgrade my DB to use the latest certs, so that sounds like the same situation as you.

[2022-11-27 08:11] h4l commented on #376
I heard back from Supabase a few days ago, they've given my DB a V3 cert which fixed the issue. They say that all new databases will have the V3 certs by default, and older DBs will be gradually updated over time.